[2016-06-20 00:40] moqri opened #1 "XMLHttpRequest cannot load"
Getting an error in Step 06 when hosting on server (Webfaction). Blank video from remote!

[2016-06-28 14:08] denar90 opened #2 "Use latest adapter"
Hi. I noticed that `adapter` is in local folder. What about using latest [adapter](http://webrtc.github.io/adapter/adapter-latest.js)?
In `index.html` it will be like

[code]

[2016-07-04 16:17] denar90 opened #3 "Duplicates of handleRemoteStreamAddedfunctions"
Hi, I found duplicates of `handleRemoteStreamAdded`
https://github.com/googlecodelabs/webrtc-web/blob/master/step-05/js/main.js#L177
https://github.com/googlecodelabs/webrtc-web/blob/master/step-05/js/main.js#L241

Does it have any purpose or just a mistake?

[2016-07-24 00:49] bfwg opened #4 "Steps cannot run without a server."
The `navigator.getUserMediaStep`'s callback won't trigger in step 1 to 3.
This cause the video will not show.
After adding a node server, the affected step's video can show again.
Any thoughts?

[2016-09-02 15:47] AlexRobinson- opened #5 "Not correctly checking number of clients in room (step-04)"
In step-04/index.js the server checks how many clients are in the room by calling

[code]

However this returns undefined, as well as doesn't actually try and check for the given room.

A proposed fix:

[code]

Or if you also want to upgrade to socket v1.4

[code]

A full fix _\+ some small cleans up :)_ would look like

[code]

See: https://github.com/AlexRobinson-/webrtc-web/blob/fix-check-room-

[2016-09-08 16:07] GradyCongdon opened #6 "Webpage buttons fail to navigate setps"
This issue is for the website (https://codelabs.developers.google.com/codelabs/webrtc-web/), not the repo code itself.

I'm on Chrome Canary Version 55.0.2853.0 canary (64-bit), there is no issue for me on Chrome Version 52.0.2743.116 m

When pressing the blue arrow buttons at the bottom to navigate, the page content disappears and there is a console error (seen below).  Using the sidebar navigati

[2016-11-30 17:19] ptifranfran opened #9 "No Video in step 05"
Hi,

I got through all the steps with caution, my node server is running, my webconsole is positive about people coming in the chatroom and about the connections being made but there isn't any display of video on any tab !

![15](https://cloud.githubusercontent.com/assets/24276626/20763131/1d01fafa-b729-11e6-9270-d14d7eff52ff.png)

![16](https://cloud.githubusercontent.com/assets/24276626/20763241

[2016-12-12 18:13] peacemakr opened #10 "other browser's support"
Does it support other browsers (FF etc)? If not, any ideas what changes might be needed or any other simple projects to use?

[2016-12-20 10:41] thebadscarecrow commented on #9
Hello!
I'm using Firefox & Chrome for this step and.. Yes, at the beginning, video wasn't working. Do you try to run
 `npm cache clean`
and hard refresh the webpage? It worked for me on Firefox.
However, I still get and error on Chrome about XMLHttpRequest, but I'm using a VM to run my webserver so..
Hope I was useful.. :)

[2016-12-21 18:08] ptifranfran commented on #9
Thank you very much it worked but only on Firefox like you !
That's weird and I'm not using any VM :/ Same error as you

Do you have an explanation on why it's not working ?
Also a bit weird it's not asking me for creating any chatroom ???

[2016-12-21 21:08] thebadscarecrow commented on #9
I'm not quite sure, but I think it's because of https on Chrome, but it need to be checked. Like, I mean, now, Chrome wants HTTPS to run videos on WebRTC (or something like that..), so ... :)

Another thing I noticed: you can't open two videos, one on Chrome and one on Firefox at the same time on the same computer. If you run them separately (like only Chrome or only Firefox: it works fine if we f

[2016-12-21 21:16] ptifranfran commented on #9
I don't know if that can help you but for my last test, I set up a nginx server on my ubuntu and opened the page on the Firefox of my other computer on windows and the Firefox of the ubuntu on which the server was running and it worked.

I added secure connections to nginx and the first steps I was able to connect in https and see my video with the windows conecting to nginx but on the last steps

[2016-12-23 19:45] thebadscarecrow commented on #9
Thanks for the help too! I'll try that when I'll have some time. ;)
But yeah, I think I need to understand better how the whole thing works, to fix it better. :)

Thanks for your time too! ;)

[2016-12-26 16:57] ptifranfran commented on #9
I think I have an explanation but I might be wrong :/

In order for the call to be successfull, you have to use firefox calling http://your_ip:8080
Why connect to this port number ? Because you're directly connecting to the node server running on your system.

If you're trying from firefox to connect in https directly to this server, it will fail. Because in this exemple, the node server does not

[2016-12-29 08:08] shamidrasool opened #11 "Step-6: cannot send photo"
Here is the error message from the console:

Sending a total of 1228800 byte(s)
main.js:309 Uncaught TypeError: Cannot read property 'send' of undefined
    at sendPhoto (main.js:309)
    at HTMLButtonElement.snapAndSend (main.js:328)
sendPhoto @ main.js:309
snapAndSend @ main.js:328

Snap is captured by does not send to the first tab.

Here is the complete console log:
![image](https://cloud.gith

[2017-01-19 15:12] jonalbertini opened #13 "Step-07, Number of client undefined"
the client count is broken, please replace:
[code]
by
[code]

as the #5 already mentioned

[2017-01-25 01:19] kekeoki opened #14 "Error getting turn server, fixed by passing config."
Did this and it worked for me:
`pc = new RTCPeerConnection(pcConfig)`
requestTurn was throwing a CORS error for me, so i removed it like so

`
// if (location.hostname !== 'localhost') {
//     requestTurn(
//         'https://computeengineondemand.appspot.com/turn?username=41784574&key
=4080218913'
//     );
// }
`

If I am doing something wrong please let me know! Maybe this isnt following best

[2017-02-14 16:52] aaronang commented on #13
@samdutton This issue can be closed since it has been mentioned in issue #5 already.

@jonalbertini It would have been better if you put your proposed solution in the existing issue, or create a pull request.

[2017-02-14 16:56] aaronang commented on #10
@peacemakr Yes, WebRTC is supported by Firefox. On the [WebRTC website](https://webrtc.org/), you can find a list of supported browsers 😄

@samdutton This issue can be closed in my opinion.

[2017-02-14 18:05] samdutton commented on #10
Thanks @aaronang

Hi @peacemakr — apologies for the delay in responding. Yes, WebRTC is supported by Firefox, Opera, Edge (Preview) and is now in WebKit (i.e. is planned for Safari). There are also native SDKs for Android, iOS and C++.

https://t.co/NV4CRMqK4Z
http://www.nojitter.com/post/240172318/microsoft-puts-new-edge-in-webrtc

[2017-02-14 18:05] #10 closed

[2017-02-14 18:14] samdutton commented on #13
@jonalbertini — many thanks for the heads-up, and apologies for responding so late.

I'll see if we can get this fixed with the code from #5 as a PR.

[2017-02-14 18:16] samdutton commented on #5
Hi @AlexRobinson-

Thanks very much for this — apologies for the delay in responding.

Do you want to do a PR for this? No worries if you don't have time, I'll have a go myself.

[2017-02-14 18:17] aaronang commented on #5
@samdutton I can also take up this task.

[2017-02-14 18:18] samdutton commented on #5
@aaronang go for it!

[2017-02-15 15:02] #13 closed

[2017-02-15 18:43] aaronang commented on #2
I like this solution too.

@samdutton What are your thoughts on this? If you like this solution, I can submit a patch for this.

[2017-02-15 19:04] aaronang commented on #4
@bfwg Yes, this should happen for everyone. That's also the reason why lesson 3: "Get the sample code" explains step by step how to set up a local web server in Chrome.

[2017-02-21 16:57] samdutton commented on #2
@denar90 Thanks for picking up on this, and apologies for taking so long to respond. I think your suggestion is very sensible. I don't

@aaronang I agree — and if you can do a patch, even better :).

[2017-02-21 17:04] aaronang commented on #2
Working on it!

[2017-02-21 17:10] samdutton commented on #2
👍👍

On 21 February 2017 at 17:04, Aaron Ang <notifications@github.com> wrote:

[2017-02-28 18:34] bfwg commented on #4
@aaronang oh man, it was nearly 8 month ago. I have learnt so much about webrtc and build an Angular2 Webrtc app.

Thank you.

[2017-02-28 18:34] #4 closed

[2017-03-04 04:53] laaaaanceeee opened #18 "getUserMedia() error Error: TypeError"
I'm stuck on step 5 and 6, I keep on having these typeErrors when accessing http://localhost:8080 on browser. Help would be greatly appreciated. :)

[2017-03-31 03:35] moohyu commented on #18
yes .. chrome is error but firefox is ok.. You try firefox.   _

[2017-03-31 03:38] moohyu commented on #11
chrome is error .. but firefox is ok. You try firefox.

[2017-04-06 09:03] laaaaanceeee commented on #18
Thank you, moohyu.

[2017-04-06 09:03] #18 closed

[2017-04-25 11:54] gurbaaj opened #20 "Video from webcam not showing"
I am unable to see the video from my webcam...i tried index file for step01 folder bt still am unable to see a video ..

[2017-05-08 06:31] ankitjain28may opened #21 "Step-04-- node index.js is not working"

[2017-05-22 15:13] RosarioAleCali opened #22 "Step-02 Not Working. Start Button does not get the video strem"
Hello Everyone!
I simply want to start by saying that I am new to this technology and that today is my first day using it so I am not very fluent with the the proper terminology.

My problem is simple, yet very strange!
When I click on "Start" the browser takes a while to load the stream and the I get a black window.
Then, when clicking on "Call" nothing happens but when I click "Hang Up" then I g

[2017-06-06 19:49] joshuaptfan opened #23 "No mention of Node.js requirement"
In step 7, corresponding to the "step-04" folder, you ask the user to run the commands "npm install" and "node index.js".

At no point in time do you provide a link for the user to install Node.js so that these commands will work. Nor is it mentioned in "Overview" under "What you'll need". It also takes some research to learn that NPM does not need to be installed separately because it is included

[2017-06-14 00:01] pfifo opened #26 "404 Issue"
Step 4 adds the line
`<script src="/socket.io/socket.io.js"></script>`
to index.html
However this file is not provided by repo and no information is given on how to go about installing it.

[2017-06-14 07:38] PierreFritsch opened #28 "socket.io newbies won't know how /socket.io/socket.io.js is served"
In the codelab step [7. Set up a signaling service to exchange messages](https://codelabs.developers.google.com/codelabs/webrtc-web/#6), the code for `index.html` contains the line:

    <script src="/socket.io/socket.io.js"></script>

Not all readers of this codelab might have the implicit knowledge that this works because the HTTP server is wrapped in Socket.IO, which intercepts requests for /so

[2017-06-14 09:19] PierreFritsch opened #32 "Make it an HTTPS server - getUserMedia() not working on insecure origins"
Hi folks

getUserMedia() does not work on insecure origins. See https://goo.gl/rStTGz for more details.

Developers going through step [7. Set up a signaling service to exchange messages](https://codelabs.developers.google.com/codelabs/webrtc-web/#6) of the codelab might want to test how the application behaves across computers.

I'd advocate the codelab should consider switching the application t

[2017-06-19 08:46] PierreFritsch commented on #14
To the folks maintaining this repo:

Either an 'Access-Control-Allow-Origin' header should be added to the TURN URL above, or the piece of code above should be removed from the code sample for step-05.

[2017-07-02 08:20] vutuananhhd89 opened #34 "Step.9 Uncaught ReferenceError: io is not defined at main.js:45"
![capture](https://user-images.githubusercontent.com/17673503/27768303-d4cb92dc-5f39-11e7-8ed6-69382eff7ddc.PNG)

I cannot snap and send photo,
Please help,

[2017-07-05 08:16] kahwee commented on #34
You need to go to the directory `step-06` and do an `npm install`

[2017-07-06 08:38] datoml commented on #21
The problem in the index.js it the following.
In the socket.on('create or join', ... part there is this entry:
**var numClients = io.sockets.sockets.length;**

The correct syntax is:
**var numClients = io.sockets.clients.length;**

Hope that helps :).

[2017-07-12 21:57] akarshankumar commented on #11
Even Firefox has same issue.

[2017-07-17 07:48] smurfxx commented on #21
I confirm it doesn't work, I have this error on console log:
Uncaught ReferenceError: scriptSource is not defined at skip.js:8
(after a users understands that needs to install node.js in their machine)

[2017-07-17 07:56] smurfxx commented on #23
In step 7 I think you must tell to install Node.js because this is a tutorial and specify to move the downloaded folders to the right place, for example in windows after you run npm install we have a "node_modules" folder and we must copy "socket.io-client" folder to work directory and rename that to "socket.io"

[2017-07-21 07:57] smurfxx opened #35 "https and socketIO listen port"
I'm trying to setup a little public vps to test webrtc but I have this problem:
if I want to use the webcam I need to secure my hosting with SSL, so the webserver is running on port 443; now in index.js I tell to socketIO to listen on port 8080 but if I visit my site (https://mysite.com) index.js is not fired, if I visit my site with 8080 port (https://mysite.com:8080) I get an error 'ERR_SSL_VERS

[2017-07-26 07:10] muhammadbilal92 opened #36 "STEP 7"
hello everyone! i am new here.
i have followed all the steps mentioned.
i downloaded node.js from the node.org updated it to its latest version. i also installed the npm packager too. but it did not show me the bash dialog box.
after that after creating the index.js file in the work directory, i gave the "node index.js" command but it gave me the following error

Error: Cannot find module 'socket.

[2017-07-27 09:54] smurfxx commented on #35
I solved disabling my httpd server and using the built-in web server of your script!

[2017-08-04 06:20] ltrojanowski opened #37 "Issue with STUN and TURN in step5 (video streaming)"
Hello,
It seems that there is an error in `var pcConfig`
[code]
later the `url` of `iceServers` are checked in the `requestTurn` function. What I do not understand is why is the stun server never used? The `requestTurn` function only checks for urls starting with 'turn:(...)'
`if (pcConfig.iceServers[i].url.substr(0, 5) === 'turn:') {`
Nowhere else are the urls even accessed. Is there code missing

[2017-08-10 03:36] nanomosfet opened #38 "Codelab uses deprecated methods of RTCPeerConnection"
The [codelab](https://codelabs.developers.google.com/codelabs/webrtc-web)'s repository contains the following code:
[code]

The above code uses addstream and onaddstream which are both being depreciated according to [this](https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/addStream)

Is adaptor taking care of the differences in the API or is this an issue?

[2017-08-10 03:41] nanomosfet commented on #37
Yeah I had made that find too, but I think it is the other way around. The if statement should be
`if (pcConfig.iceServers[i].urls.substr(0, 5) === 'turn:') {` and not changing the pcConfig dictionary.

If you look at the [the documentation](https://www.w3.org/TR/webrtc/#configuration) they define the dictionary with urls.

[2017-08-11 19:07] YuriyPomaznoy opened #39 "Step 05"
In the file main.js the function handleRemoteStreamAdd is declared twice.
In the file index.js: `var numClients = io.sockets.sockets.length;` - variable numClients = undefined
Probably should be `Object.keys(io.sockets.sockets).length`

[2017-08-16 01:36] jarmstrong2 opened #40 "step-02 only works in firefox"
[log.txt](https://github.com/googlecodelabs/webrtc-web/files/1226827/log.txt)
Hi, not sure what's going on here, but step 2 only works in firefox for me.

[2017-08-18 15:43] jtrugman opened #41 "Streaming Video"
I am trying to modify the step 2 & step 6 code in order to make a basic video chat application. I was able to do the signaling, but can not stream the actual data. Has anyone done something similar like this or ran into a similar problem because there is no tutorial for an actual p2p video chat with socket.io

Thanks,
-Justin

[2017-08-24 16:37] jarmstrong2 commented on #40
fyi this is whats happening in chrome: https://bugs.chromium.org/p/webrtc/issues/detail?id=4483

any workarounds?

[2017-08-24 16:43] jarmstrong2 commented on #40
similar: https://github.com/webrtc/samples/issues/795

[2017-09-13 16:54] wmscom opened #42 "Step 7 socket.io and node.js"
instead of downloading the socket file use this: <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

concerning node.js -->    node index.js
it through several errors and doesn't work:
node index.js
c:\webrtc-web-master\work\node_modules\node-static\lib\node-static.js:348
                      mime.lookup(files[0]) ||
                           ^
TypeError:

[2017-09-15 00:23] kmvoorhees commented on #42
I am having the same issue with step 4. It appears to be an issue with the node-static module that was fixed just recently with version 0.7.10: https://github.com/cloudhead/node-static/issues/199
Changing the node-static version from 0.7.7 to 0.7.10 in package.json fixed the error for me.

[2017-09-18 17:22] fabioshepherd commented on #42
I had the same problem. Thanks @kmvoorhees, I solved!

But now i have another problem, after I choose a name for the room the console show me this error repeatedly

socket.io.js:2   POST http://127.0.0.1:8080/socket.io/?EIO=3&transport=polling&t=LwLyFLG 404 (Not Found)

Do anyone know how i can solve?

[2017-09-19 09:11] yanzai3292 commented on #42
@fabioshepherd I also faced the same problem... the error message "http://127.0.0.1:8080/socket.io/?EIO=3&transport=polling&t=LwPPZO2 404 (Not Found)"... Did anyone has any idea ?

[2017-09-21 10:50] RedsAnDev commented on #42
Hi,
**just replace lookup with getType** and everything will works.

[2017-09-23 14:09] mso122591 commented on #21
Hi I am using windows. My friend was able to get node index.js working on linux. Is it different on windows?

[2017-09-25 06:49] yanzai3292 commented on #42
@RedsAnDev
Hi, may i know which "lookup" that you meant?

[2017-09-27 21:56] i3games commented on #32
I advocate the same because it is now broken completely without SSL.

[2017-10-08 21:21] RedsAnDev commented on #42
Instead `mime.lookup(files[0])` with `mime.getType(files[0])` wherever you needs.

[2017-10-10 19:32] visrey commented on #5
After struggling for a day I saw this

[2017-10-26 17:01] powerata23 opened #46 "streaming"
step 2, used like video chat between 2 pc? someone do it?

[2017-10-26 17:07] powerata23 commented on #41
i have the same issue!! can u find the answer?

[2017-10-29 14:35] hermanfransen opened #47 "Error step-04 folder"
I have read and done all chapters without any problems. But I get an error while doing: "7. Set up a signaling service to exchange messages". I use `git clone` to get the code on my localhost. I delete the `work` directory and rename the `step-04` folder to `work`. I go inside the `work` folder. I do a `npm install`. Then `node index.js`. It's running without a response, so that's fine. From my br

[2017-10-31 12:45] hermanfransen commented on #47
I found a solution myself. I edited the `index.js` like this:

[code]
Install `express` with the command `npm install express --save`

And in the `index.html` change the line:
`<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>`

Since `index.html` is not served anymore by the node app 'index.js` (by the changes I made), I have  installed the 'Webserver for Chrome' that is a webserve

[2017-11-09 02:38] EderNavarro opened #48 "fixing step-05 and step-06 enabling ssl in node.js"
I'm testing all the steps on my server and everything worked ok until the step-05. then after watching some videos about webRTC it was clear that the problem was with https, webrtc no longer work on unsecured http sites, so I fixed the problem using the same ssl certificates that my apache configuration uses:

in the file **index.js** you have to change the following lines:

**var http = require('

[2017-11-13 08:19] SL-A-SH opened #49 "Step - 06 Render photo function is useless"
I was trying to save the image from the canvas to a database using canvas.toDataURL in the renderPhoto(data) and didn't succeeded in doing so.
I noticed that console.log() isn't working on that function so I decided to totally comment out renderPhoto(data) function and still the code is working fine. I can still see the image on the canvas without the renderPhoto(data) function.
I even cleared the

[2017-11-17 13:51] quangtrung89 commented on #47
I cannot get it work, and same issue! I tried with @hermanfransen suggest, but not help at all.

[2017-11-28 11:05] nitobuendia commented on #46
Hello @powerata23, I am not sure if I am fully understanding your request. Could you explain it further? Thank you!

[2017-11-28 11:09] nitobuendia commented on #46
After checking some other issues: it seems you are referring to the same as #41 ?

[2017-11-28 11:27] nitobuendia commented on #39
Hello @YuriyPomaznoy, I understand both of these comments are referring to step 5. Is that correct?

For now, I was able to identify the duplicated "handleRemoteStreamAdded(event)" function and submitted a PR.

[2017-11-28 11:42] nitobuendia commented on #20
@gurbaaj could you provide more details on how you are running this?
Are you running this from a server or localhost (this only works in https / localhost)? Any errors in console? What browser and operating system are you using?

[2017-11-28 11:51] nitobuendia commented on #39
On a second look, this looks duplicate of #3 and #5 respectively. Do you agree, @YuriyPomaznoy ?

[2017-11-28 12:40] nitobuendia commented on #47
I can reproduce the error. It seems that updating node-static dependency makes it work.
Credit: https://stackoverflow.com/a/46622619/7684576

Submitting PR.

[2017-11-28 13:05] nitobuendia commented on #47
Problem seems to be reproducible in steps 5 and 6 too. Submitting PR for them too.

[2017-11-28 13:38] nitobuendia commented on #49
@SL-A-SH
I am unable to reproduce this.

There is no console.log() in renderPhoto(data) {}.
When I add a console.log() with 'Rendering photo' it does logs successfully.
![screen shot 2017-11-28 at 21 33 17](https://user-images.githubusercontent.com/16522489/33322331-f562ce1a-d483-11e7-8350-d91e781c9251.png)

If I remove it, I get a console error.
![screen shot 2017-11-28 at 21 38 00](https://user-

[2017-11-28 13:43] nitobuendia commented on #42
@wmscom
Do not change the socket.io for a cdn, make sure you follow the codelab and run npm install and node index.js from terminal on the same server.

For the mime.lookup error, I have submitted some fixes on #47 which should solve it. Basically, it seems that upgrading node-static solves the issue.

Would that solve your issue?

[2017-11-28 13:47] nitobuendia commented on #40
I am unable to reproduce this. I am running macOS Sierra 10.13.1 and Chrome 62.0.3202.94

@jarmstrong2 Is this fixed now? If not, could you provide OS version, browser version and steps to reproduce? Thank you!

[2017-11-28 14:37] nitobuendia commented on #11
I was able to reproduce the error and identify where the issue is, but not yet the root cause.

What seems to be happening here is that dataChannel.send(len); is throwing an error because dataChannel is undefined.

This seems to be happening when the channel between the two client has not been established.
This potentially means that line 280 was not executed or ondatachannel was never completed

[2017-11-28 15:00] nitobuendia commented on #11
The only way I seem to be able to reproduce this consistently is by:

1. Opening one tab. It creates the room and dataChannel.
2. Opening a second tab. It joins and connects to the dataChannel.
3. Refresh original tab.

This seems to be detecting itself as not the initiator, and it tries to make a connection. My understanding is that the other peer never created the channel to which to connect and

[2017-11-28 15:09] nitobuendia commented on #37
I am unable to reproduce the issue. However, I agree that the object pcConfig.iceServers[i].urls (at least [0] has urls as a property. Also, agreed that per documentation, urls seems the right parameter. Hence, updating if statement instead.

[2017-11-28 15:11] nitobuendia commented on #36
Hello @muhammadbilal92,

With step 7, you mean step 7 in the codelab, which is actually step 5 on the code; right?

Unfortunately, I am unable to reproduce.
Could you confirm that:
1. This is still reproducible
2. You run npm install from terminal on the folder where index.js is before running node index.js

Thank you!

[2017-11-28 15:13] nitobuendia commented on #34
@vutuananhhd89 I am unable to reproduce. I feel that @kahwee could be right.

Could you confirm that:
1. This is still reproducible
2. You run npm install from terminal on the folder where index.js is before running node index.js

Thank you.

[2017-11-28 15:16] nitobuendia commented on #32
@PierreFritsch This works for localhost/ on http as per the same doc: "localhost is treated as a secure origin over HTTP, so if you're able to run your server from localhost, you should be able to test the feature on that server."

I understand you mean for when running on a server. Is that correct?
I have seen other issues with similar and recent requests; like #48.

[2017-11-28 15:20] nitobuendia commented on #26
Hello @pfifo,

Currently, we have the following explanation:
![screen shot 2017-11-28 at 23 19 19](https://user-images.githubusercontent.com/16522489/33327502-9bb0205c-d492-11e7-9f0a-1b73e80c42b2.png)

When running npm install from the same server, it should solve the issue with socket.io

Would that be enough? Anything that would make it clearer for you and future readers?

Thanks!

[2017-11-28 15:25] PierreFritsch commented on #32
@nitobuendia yes, I understand that the signalling can be tested on localhost.

My point was that as soon as you want to test it with clients on 2 distinct computers, e.g. to check if your network setup allows you to transport the sound, you'll face the issue that at least one browser will block the application because of the insecure origin.

[2017-11-28 15:34] nitobuendia commented on #22
@RosarioAleCali
I do not see anything wrong in your logs; except that the video generated is 2x2px instead of a normal size. For comparison, mine is 640x480px.

I thought this could be related to permissions on the camera; however, when denied permissions for camera, an error / alert is thrown.

Is this still reproducible? Also, are you able to use your camera on other apps ([you can test any here

[2017-11-28 15:37] nitobuendia commented on #21
@ankitjain28may @datoml Could you provide the errors that you are getting? Thank you!

@smurfxx Could you provide the whole console messages? Thank you!

@mso122591 Could you try running npm install from the terminal on the same folder as index.js before running node index.js ? It seems this is missing a dependency which should be installed with the package.json. I think this could solve it. Thank

[2017-11-28 15:45] nitobuendia commented on #1
Hello @moqri

This API only works from https:// are you running your node server with https?
A potential workaround was provided in #48

Would this be your issue too?

[2017-11-28 15:49] nitobuendia commented on #9
That is correct, webRTC requires https when running from a server.
localhost is an exception; which is where this prepared to run in http.

A potential fix is provided in #48. Would this solve this issue, @thebadscarecrow ?

[2017-11-28 15:52] nitobuendia commented on #35
@smurfxx Could you add more details on the steps for documentation? It could be helpful for other users. Also, does this mean we can mark this issue as resolved? Thank you.

[2017-11-28 15:56] smurfxx commented on #35
You can sign this issue as "working as designed" because was a misunderstanding.

[2017-11-28 16:00] nitobuendia commented on #35
Thanks for clarification!

[2017-11-28 17:12] datoml commented on #21
@nitobuendia sorry its too long ago and I haven't tried it since then.

[2017-11-28 17:34] pfifo commented on #26
pfifo@desktop:~$ npm install
bash: npm: command not found

Still getting the 404... additionally, npm is not installed, and will remain not installed... this is a LAMP stack and I refuse to believe web-rtc, a client-side library, requires anything to be installed on the server.

If the developers are unable to write a tutorial for a client-side library that dosent require root privileges... then,

[2017-11-29 04:24] YuriyPomaznoy commented on #39
To step 7, line 31:
`var numClients = io.sockets.sockets.length;`
Should be:
`var numClients = Object.keys(io.sockets.sockets).length;`

[2017-11-29 04:26] YuriyPomaznoy commented on #39
To step 7, line 31:
var numClients = io.sockets.sockets.length;
Should be:
var numClients = Object.keys(io.sockets.sockets).length;

2017-11-28 18:51 GMT+07:00 Nito Buendia <notifications@github.com>:

[2017-11-29 04:58] YuriyPomaznoy commented on #39
Correct step 7, completely (sorry for my bad english)
[code]

[2017-11-29 08:05] SL-A-SH commented on #49
Apparently I am an idiot. I was checking in the same tab. So I was able to view the image on the canvas on the same tab which is the sender. I did not check the receiver. I am getting `renderPhoto` is not defined on another tab (the receiver). So I am closing this issue.

Thank You

Now I just have to figure out how to save the image in a database.

[2017-11-29 08:05] #49 closed

[2017-11-29 12:27] nitobuendia commented on #26
@pfifo

It is working as intended.

Steps 1-3 are client-side only and you can examine the APIs and test it without node.js

However, steps 4-5 requires node.js to manage the dependencies that the codelab uses.
This is specified on the same codelab:
![screen shot 2017-11-29 at 20 22 57](https://user-images.githubusercontent.com/16522489/33374938-25845fae-d543-11e7-834a-0105a6bb9797.png)

Therefore

[2017-11-29 14:13] datoml commented on #21
@nitobuendia
I tried with the latest files and get this error.

[code]

[2017-11-30 12:02] nitobuendia commented on #21
@datoml Yes, that is "expected" as per #47 - a fix is on the way to update the node-static dependencies.

Was that the error you had? If yes, then, the two issues are duplicates of each other and we can work just with one :)

Thank you!

[2017-11-30 14:21] datoml commented on #21
I can't confirm it with 100% what was the error back then but I think its a duplicate then :).

[2017-12-05 14:42] Sharcoux opened #55 "Avoid deprecated code in https://codelabs.developers.google.com/codelabs/webrtc-web/#3"
in [this step](https://codelabs.developers.google.com/codelabs/webrtc-web/#3) the code should be updated to:

[code]

[2017-12-05 14:43] #55 closed

[2017-12-06 09:39] #37 closed

[2017-12-09 12:49] hermanfransen opened #56 "WebRTC most of the times connecting Safari with Chrome is not working"
I posted (this question)[https://stackoverflow.com/questions/47462247/webrtc-most-of-the-times-connecting-safari-with-chrome-is-not-working] also on StackOverflow without any results.

Apple is natively supporting WebRTC since iOS 11 and Safari 11 on the desktop.

I installed the codelab on a Ubuntu server. For the test I used both devices within the same WiFi network, just to make sure.

It works

[2017-12-11 11:13] #3 closed

[2017-12-11 13:31] samdutton commented on #47
Thanks @hermanfransen and @quangtrung89 !

Apologies for the delay in responding.

Should be fixed as @nitobuendia describes.

[2017-12-11 13:31] #47 closed

[2017-12-11 13:37] samdutton commented on #9
@nitobuendia — will close as per comments, and suggested fix in #48

Thanks @ptifranfran and @thebadscarecrow — apologies for the delay in responding. Re-open if necessary.

[2017-12-11 13:37] #9 closed

[2017-12-11 13:39] samdutton commented on #48
Thanks @EderNavarro! Just looking into this now.

[2017-12-11 13:47] samdutton commented on #22
Thanks @RosarioAleCali, and apologies for the delay in responding.

I'm going to close this, because there hasn't been a response to @nitobuendia, but feel free to re-open if necessary.

[2017-12-11 13:47] #22 closed

[2017-12-13 13:36] nitobuendia commented on #48
I am currently checking this. The solution proposed by @EderNavarro seems to work :) Thanks a lot!

I have been able to deploy localhost with https and connect my phone through it (whereas with http version it rejects the API calls).

I think the best proposal here would be:
1) Adding a section to step-05 (step 7 of Codelab) explaining why https connections may be required (multiple devices, runni

[2017-12-13 14:01] samdutton commented on #35
Thanks @smurfxx — and apologies for the delay in responding. Will close.

[2017-12-13 14:01] #35 closed

[2017-12-13 14:03] samdutton commented on #36
Hi @muhammadbilal92 — thanks for filling an issue and apologies for the delay in responding.

I'll close the issue now, but feel free to open again if you're still experiencing problems.

[2017-12-13 14:03] #36 closed

[2017-12-13 14:16] samdutton commented on #39
Hi @YuriyPomaznoy — thanks for the heads-up, and apologies for the delay in responding.

I'll close this, given the comments from @nitobuendia, and we'll do a separate PR for the `numCllients` stuff.

[2017-12-13 14:18] nitobuendia commented on #39
To complete here: we will follow up that issue on #5. Thanks again :)

[2017-12-13 14:21] samdutton commented on #39
OK — reopened :).

[2017-12-13 14:26] samdutton commented on #39
...and now closed :).

[2017-12-13 14:26] #39 closed

[2017-12-13 14:28] samdutton commented on #40
Hi @jarmstrong2 — thanks for filling the issue, and apologies for the delay in responding.

As per @nitobuendia's comments, I'll close this, but feel free to open again if you experience problems.

[2017-12-13 14:28] #40 closed

[2017-12-13 14:33] samdutton commented on #46
Hi @powerata23 — thanks for filing the issue, and apologies for the delay in responding.

I'll close this, but feel free to open again if you're still experiencing problems.

[2017-12-13 14:33] #46 closed

[2017-12-13 14:37] samdutton commented on #41
Hi @jtrugman — sorry for the delay in responding.

I'm not sure I understand the question, but do you mean you want to implement video chat by transferring data via Socket.io? Just to be clear, Socket.io is only used for messaging: WebRTC is used to stream video data between clients (peers).

Did you manage to get it working in the end?

I'll close this now, but feel free to open an issue if you'r

[2017-12-13 14:37] #41 closed

[2017-12-13 14:40] samdutton commented on #42
Hi @wmscom @kmvoorhees @fabioshepherd @yanzai3292 — apologies for the delay in responding.

As per @nitobuendia's comments, I'll close this — but feel free to raise an issue if there are still problems.

[2017-12-13 14:40] #42 closed

[2017-12-13 14:42] samdutton commented on #1
Hi @moqri — apologies for the long delay in responding!

Hope you got this working in the end.

I'll close this now, but feel free to raise an issue if you're still experiencing problems.

[2017-12-13 14:42] #1 closed

[2017-12-13 14:44] samdutton commented on #20
I'll close this now, but feel free to open an issue if you're still experiencing problems.

[2017-12-13 14:44] #20 closed

[2017-12-13 14:46] samdutton commented on #21
Hi @ankitjain28may and @datoml — sorry it took us so long to get back to you about this.

I'll close this now as per @nitobuendia's comments, but feel free to open an issue if you're still experiencing problems.

[2017-12-13 14:46] #21 closed

[2017-12-13 14:50] samdutton commented on #26
Just to be clear, WebRTC uses a client-side JavaScript API, but for real-world usage also requires a signaling (messaging) server, as well as STUN and TURN servers. You can find out more [here](https://www.html5rocks.com/en/tutorials/webrtc/infrastructure/).

I'll close this now, but feel free to open another issue if you're still experiencing problems.

[2017-12-13 14:50] #26 closed

[2017-12-13 14:55] samdutton commented on #56
Thanks @hermanfransen — looking into this now.

[2017-12-13 15:30] nitobuendia commented on #14
I was able to reproduce. We are currently looking for a fix and will submit a PR once we have an answer. Thank you so much @kekeoki for submitting, and @PierreFritsch for the comments. Also, apologies for the delay on the response.

[2017-12-13 20:43] alvestrand commented on #56
These are scenarios that should be tested by Kite - https://github.com/webrtc/kite
@agouaillard - is this consistent with your tests, alternatively is there material here for better tests?

[2017-12-13 20:46] alvestrand commented on #56
One obvious problem with the offer cited is that it only offers VP8 and VP9 video.
I believe Apple/Safari still hasn't implemented that part of the spec that mandates VP8; it's H.264 only.

[2017-12-14 09:27] fippo commented on #56
@alvestrand much of the pain is caused by not fixing https://bugs.chromium.org/p/webrtc/issues/detail?id=4957 ... I am interested in hearing why this is a P3.

[2017-12-15 13:46] thebadscarecrow commented on #9
Hi !
@samdutton : It's okay for the delay, don't worry. :)
I hadn't much time to check the fix right now, but thanks a lot, @nitobuendia :) Maybe I'll try one day. (and it's seems to work, as you write your in #48 post :) )

Cheers!

[2017-12-15 14:02] samdutton commented on #9
Cheers Anaïs!

[2017-12-19 14:17] nitobuendia commented on #28
@samdutton #29 has been submitted. Hence, this can be closed.

[2017-12-19 14:17] PierreFritsch commented on #28
Thanks for merging!

[2017-12-19 14:17] #28 closed

[2017-12-19 14:37] samdutton commented on #23
Hi @joshuaptfan — apologies for the delay in responding.

Step 7 has a section at the top explaining how to install Node, with links, and explaining that this enables use to use NPM. Does this make sense?

![image](https://user-images.githubusercontent.com/205226/34161740-729aba46-e4c9-11e7-96b8-d61a4b3ef154.png)

Good point — we built this codelab for use at Google events, where there are helpers

[2017-12-19 14:40] samdutton commented on #34
Hi @vutuananhhd89 — apologies for the delay in responding to your question.

We haven't heard from you so I'll close this now, but let us know if you're still experiencing problems.

@kahwee — thanks for your help.

[2017-12-19 14:40] #34 closed

[2017-12-26 21:30] ev1stensberg opened #58 "Contributing to Documentation"
Is there any OSS repo where the documentation is served from, so that externals can help out?

[2017-12-27 12:59] aulamber commented on #34
Hello @samdutton,

Sorry for adding a comment to a closed issue, but I am having the same problem as @vutuananhhd89 in /step-04, see picture.

I did run "npm install" then "node index.js" in the /step-04 folder (no issue at that point).
The "io is not defined" error appears once I type a room name in the popup and click on "OK".

Do you know where this error comes from?
Thank you for your answer.

[2017-12-28 15:19] seiyuricardohiga commented on #56
I've fixed the communication between Chrome and Safari by adding "playsinline" in <video> and changing the methods  "handleRemoteStreamAdded(event)" and "gotStream(stream)"
[code]
[code]
[code]

[2017-12-28 15:59] seiyuricardohiga commented on #56
I've hosted an example [here](https://ricky-web-rtc.herokuapp.com/) for testing proposes:
I've commented out these lines like @kekeoki said in the issue #14
[code]
And i've uncommented this line for getting a room name from the user
[code]

[2018-01-08 12:11] nitobuendia commented on #34
@aulamber

Hello Audrey,

The first error shows that the /socket.io/socket.io.js did not load.
As a result, io is not defined and fails.

Did you run "npm install" on the same directory of the same step? It seems that it did not install socket.io properly.

Could you send what you got on the file ["package-lock.json"](https://docs.npmjs.com/files/package-lock.json)? Also, could you send a screensh

[2018-01-08 12:14] nitobuendia commented on #58
@ev1stensberg Hello Even,

Thanks a lot for your enthusiasm and willing to contribute.
Unfortunately, the text of the codelab is not on a repository.

However, if you want to make proposals: perhaps you can send them here and we can review them and try to incorporate if relevant for the team? Would that work?

Thank you,
Nito

// cc @samdutton

[2018-01-08 18:02] aulamber commented on #34
@nitobuendia

Hello Nito,

Thank you for your answer. I used `npm install` in the wrong folder (/step4 and not /work). I copied-pasted the code in the correct folder and it worked. Sorry for the disturbance :)

[2018-01-09 11:03] samdutton commented on #34
Hi @aulamber — thanks for the heads-up!

@nitobuendia — we should add a note/reminder about where to run `npm install`.

[2018-01-09 17:02] samdutton commented on #58
Hi @ev1stensberg — as @nitobuendia says, many thanks for your offer to help out!

We maintain the codelab text content as a Google Doc.

If you'd like to help, I suggest raising issues on this repo.

I'll close this issue, but feel free to open it again if you have more questions.

[2018-01-09 17:02] #58 closed

[2018-01-10 20:46] ev1stensberg commented on #58
Hi @samdutton , could I send you a mail with suggested edit?

[2018-01-11 11:38] pwa commented on #58
@ev1stensberg — sure, that'd be great. I'm samdutton@gmail.com.

[2018-01-14 19:28] hermanfransen commented on #56
### Conclusion of this Issue:
There seam to be a bug #8584: [Chrome Android does not offer/answer H.264 Constrained Baseline Profile](https://bugs.chromium.org/p/webrtc/issues/detail?id=8584).

This is causing Chrome for Android not to connect to Apple Safari. Also because Apple only supports H264.

### Is there any workaround for this issue?

[2018-01-15 16:38] samdutton commented on #56
Thanks @seiyuricardohiga!

@nitobuendia — we should add the `playsinline` fix suggested. Could you do a PR at some stage? We should make sure to use only `srcObject()` throughout, since this is now well supported and `URL.createObjectURL()` is deprecated.

@hermanfransen

Not that I'm aware of, but @fippo may well know more.

[2018-01-15 17:31] fippo commented on #56
SDP munging -- I still wonder in what flakes @alvestrand got his magic profile level decoder ring...

[2018-01-16 13:58] seiyuricardohiga commented on #56
@hermanfransen you're right. I'm using video services from tokbox and i didn't realize that they have the same issue [here](https://support.tokbox.com/hc/en-us/articles/115001579624-Chrome-on-Android-does-not-work-with-Safari-projects)
Now I've tried with **Android/Tab/Chrome <-> iPhone/Safari** and I think they did a little workaround because everything works fine on Android but i'm not able to r

[2018-01-16 14:19] odivorra commented on #56
FYI: https://bugs.chromium.org/p/chromium/issues/detail?id=793038
I believe things should improve starting on Chrome Android 65 (now Canary)

[2018-01-16 17:50] hermanfransen commented on #56
@seiyuricardohiga - In my test it was working. What Android device did you use?

May be you bumped into the second issue?

[2018-01-17 11:06] nitobuendia commented on #56
@samdutton On it.

[2018-01-17 12:15] nitobuendia commented on #2
@samdutton To be closed as per #61

[2018-01-17 12:16] nitobuendia commented on #23
@samdutton I understand that this is fixed now :)

[2018-01-17 12:17] nitobuendia commented on #32
A quick update here: we are working on fixing this by serving the codelab on https so it can be tested across devices. There are a few things that need to be fixed first, hence it might take a bit, but on the pipeline. Thank you for reporting and the patience here.

[2018-01-17 12:19] nitobuendia commented on #38
@nanomosfet Thanks a lot for reporting and apologies for the delay here. We have to revamp the logic to adapt to the last published version of webRTC. All contributions there are welcomed :)

[2018-01-17 12:20] nitobuendia commented on #48
Same as #32:
A quick update here: we are working on fixing this by serving the codelab on https so it can be tested across devices deployed in localhost, but also is more or less prepared to go to a server with minimal changes. There are a few things that need to be fixed first, hence it might take a bit, but on the pipeline. Thank you for reporting and the patience here.

[2018-01-17 12:30] nitobuendia commented on #34
@samdutton

`npm install` is mentioned only in step-04 (7).
`node index.js` is mentioned in steps: step-04 (7), step-05 (8) and step-06 (9).

An easy solution would be changing the section "Run the Node.js server" for "Install and Run the Node.js server" and remind about the installation there.

I'll send a Codelab change suggestion.

[2018-01-18 10:06] samdutton commented on #34
@nitobuendia good call — thanks.

[2018-01-18 10:09] samdutton commented on #48
Can't remember if I suggested this elsewhere — would Surma's HTTP/2 server (which provides HTTPS, though with certificate warning)?

https://github.com/GoogleChromeLabs/simplehttp2server

[2018-01-18 10:11] samdutton commented on #23
@nitobuendia yup :). Closing.

[2018-01-18 10:11] #23 closed

[2018-01-18 10:11] samdutton commented on #2
@nitobuendia thanks for the reminder. Closing.

[2018-01-18 10:11] #2 closed

[2018-01-19 23:20] odivorra commented on #56
FYI: Another issue with Chrome Android H264 in close relation: https://bugs.chromium.org/p/monorail/issues/detail?id=3424
HW H264 from the device I tested fails to work well with SFUs as the encoder is not inserting SPS (NALU 7) with IDRs (NALU 5) except for the very first IDR. In P2P works because the latter.

[2018-01-22 14:42] Dealerpriest commented on #5
This issue is still relevant. I guess it is not merged to the master branch?

[2018-01-23 13:21] nitobuendia commented on #5
@Dealerpriest Thanks a lot for pointing it out. If I recall correctly, the fix was not merged because it did not fully solve the issue. However, we will test again and request changes or send a PR based on that. No ETA, but we will try to prioritise it soon.

[2018-01-23 13:24] nitobuendia commented on #48
@samdutton We discussed this, yes. I do not think there is need for that. node.js is enough and provides a solution with the same warning. The solution is coded and the text is prepared. The main issue we faced is the servers that were used only for the codelab; for which we still do not have a solution.

[2018-01-23 14:59] nitobuendia commented on #5
I have added a few console.log* on step-4 to see what is happening here before jumping into the PR.

* no judging, please, it was a quick dirty solution :)

[code]

On joining first time:
[code]

This already pinpoints the issue on #13 and here.

On adding a new peer to the same room:
[code]

Until here Object.keys(io.sockets.sockets) do seem as a valid solution.

On adding a new peer to a new roo

[2018-01-23 15:38] nitobuendia commented on #5
To add a last piece to the former.

On `socket.on('create or join', function(room) {});`
socket.rooms does not seem to update properly and fast enough when a peer joins.

Join 3 times same room T:
<img width="778" alt="screen shot 2018-01-23 at 23 30 27" src="https://user-images.githubusercontent.com/16522489/35284488-eb5ad618-0095-11e8-980f-d4fa4fc7aaf0.png">

Join room X, join room F, join again

[2018-01-23 15:52] nitobuendia commented on #5
Similar tests:

Join roomD 3 times:
<img width="763" alt="screen shot 2018-01-23 at 23 47 09" src="https://user-images.githubusercontent.com/16522489/35285377-2dbb9572-0098-11e8-9c10-24aca6c1d3ff.png">

Join room E, join room C, join room E again:
<img width="777" alt="screen shot 2018-01-23 at 23 49 11" src="https://user-images.githubusercontent.com/16522489/35285403-43ec00a2-0098-11e8-90f3-3d0e9

[2018-01-24 12:42] samdutton commented on #48
@nitobuendia OK — thanks.

[2018-01-25 11:51] nitobuendia commented on #5
# Testing Environment
Upgraded to socket.io 2.0.4
Testing replacing the current set up of numClients for this one:

[code]
# Testing Results
I will add check marks for correct or incorrect [✖✓] and I will do according to whether we are considering before or after joining (first check mark is before; second check mark is after).

**First peer joins room test:**
Message from client: Asking to join r

[2018-01-25 12:12] nitobuendia commented on #5
# Testing environment
Upgraded socket.io to 2.0.4.

Simplified room joining logic to avoid limitation per room:
[code]

Logging data same as previous:
[code]

# Testing results

This time we will join room A x3, then join room B x3.

**Peer 1 joins A:**
Message from client: Asking to join room A
Message from server: Received request to create or join room A

- Message from server: There are 0 clie

[2018-01-28 12:58] katastreet commented on #5
[code]
this solved the problem for me

[2018-01-29 11:22] nitobuendia commented on #5
@katastreet That solution is equivalent to the proposed in #15 and my tests say it does not work.

It starts with 0 and then moves to 2 when each of the two first peers join; either it should return 0, 1 (before joining) or 1,2 (after joining); probably the former.

In addition, it seems to get stuck at 2.

Could kindly you remove the two peers limit and test these scenarios:

- First peer joins r

[2018-01-30 04:21] katastreet commented on #5
@nitobuendia
you are counting by doing in  #15 :
`Object.keys(io.sockets.adapter.rooms[room] || {}).length,`

But have you noticed, what i am doing is:
[code]
which is equivalent to
`Object.keys(io.sockets.adapter.rooms[room].sockets).length`
only if `io.sockets.adapter.rooms[room]` exists

And as per the tests that you are telling me, its all working fine.
First peer joins room A (is count 0).
Se

[2018-01-30 23:43] nitobuendia commented on #5
@katastreet Thanks a lot for the follow up there :)

From the original code I used:
This piece: `io.sockets.adapter.rooms[room] || {}``
Use io.sockets.adapter.rooms[room] only if io.sockets.adapter.rooms[room] exists.
Otherwise, use an empty object (whose key length will be 0).
Hence, that logic is equivalent.

The only difference between your version is that you count the length of the key of the

[2018-01-30 23:55] nitobuendia commented on #5
@katastreet Your solution seems to work perfectly. Thanks a lot :)
It counts a priori and scales from 0 to n-1 where n is the peer which is joining the room now.
I am sending a PR now if you are fine with it.

For the record, the solution is similar to the one @AlexRobinson proposed, without using the namespace. Probably, the main issue on the test here is that we used the first fix, but while upg

[2018-01-31 19:43] hermanfransen commented on #56
I just tested it with Chrome Canary 66.0.3334.0 but still same error I am getting

[2018-02-04 08:25] superfaz opened #66 "Step-2 - Update of adapter.js required to work on Edge"
**Summary**
In order to have the Step-2 working on Edge, I had to change the adapter.js library to the latest one.

**Issue details**
On Edge, the Start action works perfectly but the Call doesn't start the second stream.
No error visible on the console, but the pc2.onaddstream is never called by the app.

**Workaround**
By using the latest version of adapter.js: https://webrtc.github.io/adapter/a

[2018-02-04 08:42] superfaz commented on #66
Just updated the description.
The issue is linked to the step-2 in the package, corresponding to the page 5 of the codelab :)

[2018-02-04 09:27] nitobuendia commented on #66
The code on the repository currently refers to:
`<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>`

However, codelab still refers to:
`<script src="js/lib/adapter.js"></script>`

@superfaz I understand you mean changing the text/code on the actual codelab and not so much the code on this repository. Is that correct?

[2018-02-05 08:59] nitobuendia commented on #5
@samdutton This is fixed by #65

[2018-02-05 10:15] samdutton commented on #5
@katastreet @AlexRobinson @nitobuendia Thanks again for all your work on this! Very much appreciated.

[2018-02-05 10:15] #5 closed

[2018-02-07 11:56] thbaja commented on #5
You should probably also update the code samples in the actual guide.
See https://codelabs.developers.google.com/codelabs/webrtc-web/#6

[2018-02-07 14:30] samdutton commented on #5
@thbaja Thanks for reminding me!

@nitobuendia Could you have a go at this when you get a moment?

[2018-02-08 21:42] superfaz commented on #66
Correct!

[2018-02-10 16:53] huynhquocmy commented on #56
Hello @hermanfransen , I would like to know if you have any update ? I got same issue. Thanks!

[2018-02-10 22:23] hermanfransen commented on #56
Hi @huynhquocmy , when I reed [this](https://bugs.chromium.org/p/chromium/issues/detail?id=793038) the bug is fixed and they say it will probably be merged into Chrome M65.

You should be aware there are two different issues making a WebRTC connection between Chrome on Android and iOS/Safari not working. See [here for more info](https://stackoverflow.com/questions/48188949/how-to-make-a-webrtc-con

[2018-02-11 12:13] huynhquocmy commented on #56
Thanks for your quick response @hermanfransen. Appreciate it!

[2018-02-13 07:13] Im10Anish opened #67 "step-06 is not working"
The app works fine till step-05 but after include step-06 into my code then it shows getUserMedia() error: ReferenceError. When it not working from work directory then I tried directly from the step-06 directory but still same error shows. Can you please look into that.

[2018-02-13 16:30] transonly commented on #11
Is their a solution for this behavior?

[2018-02-21 01:11] nitobuendia commented on #66
@superfaz Thanks for reporting :)
@samdutton Sent changes for review on the codelab "text". Once applied, kindly mark this as fixed.

[2018-02-21 01:12] nitobuendia commented on #67
@Im10Anish Sorry to hear the issues and thanks a lot for reporting.

Could you paste here the whole content of your console logs? That'd help to troubleshoot or identify the issue.

Thank you so much for reporting!

[2018-02-21 01:14] nitobuendia commented on #11
@transonly Hello Ingrid, sorry for the inconvenience. At the moment, we have still not deep dive here; but I was able to reproduce the issue. I will try to come up with a fix before end of next week.

[2018-02-21 09:39] samdutton commented on #66
I've published the updates to the codelab text.

Thanks @superfaz and @nitobuendia!

[2018-02-21 09:40] samdutton commented on #5
@thbaja @nitobuendia Thank you!

I've published the changes to codelab text.

[2018-02-22 08:08] bedus-creation commented on #67
Yes Step-6 is not working, It says =>
 **getUserMedia() error: ReferenceError**

[2018-02-24 20:03] #66 closed

[2018-02-25 13:36] nitobuendia commented on #67
I was able to replicate:

1) npm install
2) node index.js
3) Access localhost:8080

console.log returned:

Then opened an alert:
getUserMedia() error: ReferenceError

[2018-02-25 13:49] nitobuendia commented on #67
Error is triggered by: grabWebCamVideo
Full error: Stream error ReferenceError: streamURL is not defined

Working on it.

[2018-02-25 13:55] nitobuendia commented on #67
Proposed #68 to fix it. //cc @samdutton

Thank you so much @Im10Anish and @bedus-creation for your report :)
When #68 is submitted, it should work when you test it :)

[2018-02-27 10:36] Im10Anish commented on #67
Sorry for late reply and thanks for fixing it :) (y). Once I finished my
work then I will test new changes, hope this time it working. Anyways,
thanks once again.

On Sun, Feb 25, 2018 at 7:25 PM, Nito Buendia <notifications@github.com>
wrote:

[2018-02-27 12:12] nitobuendia commented on #11
Quick update here:

Currently working on this on [nitobuendia:patch-2](https://github.com/googlecodelabs/webrtc-web/compare/master...nitobuendia:patch-2).

I have been able to detect most cases where connection was closed. However, connection may have been re-opened and that's not fully smooth.

To solve that issue I am trying to detect when a peer leaves and refresh the connection for all remaini

[2018-03-05 00:34] nitobuendia commented on #11
Quick update here. I am handling mainly two situations:

- Peer never connected >> on this situation a warning is fired explaining a picture cannot be sent until connection is made. We could as well enable / disable buttons, but this seems a fair fix for this issue for now. Further contributions can make it better.

- Peer disconnected >> on this situation, we need to manage the re-connection. In

[2018-03-08 09:16] #67 closed

[2018-03-08 09:17] samdutton commented on #67
Thank you @Im10Anish and @bedus-creation!

I've merged #68.

[2018-03-21 08:49] sarathkumar654 opened #70 "CHANGE SERVER FROM LOCAL TO LIVE"
how can I change the code to move server from local to a live server

[2018-03-22 15:19] moneytoo commented on #37
I had the same issue as OP - it didn't work outside the same network and STUN/TURN servers were never contacted. ``pcConfig`` is set but never used. It works once it's set as parameter in https://github.com/googlecodelabs/webrtc-web/blob/bcb772a0edae69131df72e6ef0eb28376c265a69/step-05/js/main.js#L149

[2018-03-24 10:07] yanzai3292 opened #71 "Change the extension of html to php"
Is there any way to change the front-end of the WebRTC video conference HTML page into .php extension instead of .html extension?
As i would like to connect it to the database. Thanks

[2018-03-30 05:19] nitobuendia commented on #71
Hello @yanzai3292

Yes and no :)

The codelab is designed to leverage node.js. By default, Node.js only supports Javascript as the backend language. This means, no php files. There are, however, ways to make PHP work on Node.js ([example](http://blog.mixu.net/2011/01/04/nginx-php-fpm-and-node-js-install-on-centos-5-5/)).

Now, WebRTC itself does not require Node.js. The reason for which we used No

[2018-03-30 07:02] pwa commented on #71
Hi @yanzai3292 — as @nitobuendia says, this codelab is oriented to Node, but you can certainly do WebRTC from a PHP page.

[2018-03-30 07:08] samdutton commented on #71
Hi @yanzai3292 — as @nitobuendia says, this codelab is oriented to Node, but you can certainly do WebRTC from a PHP page.

[2018-03-30 07:08] #71 closed

[2018-04-03 03:05] sarathkumar654 opened #72 "how to increase the room size and is it possible to use webrtc for multiple users at a time ?"
I tried to implement conference call but it is not possible , can you help us to increase the room size of foo

[2018-04-03 13:32] nitobuendia commented on #72
@sarathkumar654

The codelab is designed as a showcase of only two connections.

If you want a code focused on multiple connections, perhaps you want to have a look at the webrtc/samles where they have an [example of multiple peer connections](https://github.com/webrtc/samples/tree/gh-pages/src/content/peerconnection/multiple).

As for adapting the codelab:

Assuming you are on step-06, the lines

[2018-04-04 05:56] amdani786 opened #73 "how to create server to add another pc because it calling on same systemacting as remote system"

[2018-04-04 08:49] sarathkumar654 opened #74 "multiple communications at a time"
whether  multiple communications possible through a single port  in webrtc , if it possible how to manage the room ?

[2018-04-05 13:36] sarathkumar654 opened #75 "session terminates while multiple users connect via different rooms"
we tried to implement multiple connections in multiple rooms , the firs pair of connection terminates where the second pair starting video call . is there any solution for that
NB ; we entered room name as manually.

[2018-04-21 12:00] jackxujh opened #76 "Safari reports errors on sendChannel.send(data) in step-03"
`sendChannel.send(data)` in **step-03** works just fine in Chrome. But in Safari, I always get an error. Hence the whole data exchange example does not work in Safari.

The error in Safari is:

https://github.com/googlecodelabs/webrtc-web/blob/14cadd4e2a28e9d82c35cad1c0b698bb638ac41c/step-03/js/main.js#L71

Here is a print-out of `sendChannel`:

<img width="256" alt="image" src="https://user-image

[2018-04-22 08:24] nitobuendia commented on #74
Hello @sarathkumar654 Thanks for your enthusiasm on WebRTC. This seems a duplicate question of #74 (and somehow related to #72). Did I answer your questions there?

[2018-04-22 08:27] nitobuendia commented on #73
@amdani786 Hello Faisal, thanks for your question.

Before answering, let me see if I understood correctly your question: You want to put WebRTC on a server and want to know what changes to make. Is that correct? If yes, I think I am answering your question on #77. If no, could you clarify further and see if we can help you here?

Thank you,
Nito

[2018-04-22 13:31] nitobuendia commented on #76
@jackxujh Thanks a lot for reporting. I can reproduce the error as well. We would need to have a deeper look into it. I will be posting here some of the insights as I research and dig more into the issue.

[2018-04-22 13:38] nitobuendia commented on #76
For starters, the logs in the console in Chrome and Safari are different:

**Chrome 65.0.3325.181**

[code]

**Safari 11.1 (13605.1.33.1.2)**

[code]

The main difference lies on:
[code]

**Hypothesis based on that finding**
It seems that the peer are never connecting. As a result, the channel is never open and the communication cannot be executed. When pressing send, the textarea is still disable

[2018-04-22 14:36] nitobuendia commented on #76
I found [this thread](https://groups.google.com/forum/#!topic/discuss-webrtc/IOrsgrDaWrU) commenting the same. Applying the suggestions there works:

1. [Enable Develop](https://support.apple.com/en-sg/guide/safari/use-the-safari-develop-menu-sfri20948/mac) menu in Safari.
1. Develop > WebRTC > Disable ICE Candidate Restrictions.

After doing that, code works fine again. More on why is needed is e

[2018-04-23 10:35] samdutton commented on #76
Thanks for sleuthing @nitobuendia!

[2018-04-23 10:35] #76 closed

[2018-04-23 12:38] sarathkumar654 opened #78 "Peer closing issue"
I tried to implement multi connections at a time
same time A can communicate B and C and communicate with D , while I disconnect A from B , C and D also disconnected , how to close a specific peer connection without affecting other peer connections .

[2018-04-23 13:32] nitobuendia commented on #78
Hello @sarathkumar654

Thanks a lot for your interest on WebRTC and being so active on this repository.

I can see you have posted #72, #74, and #75 with very similar questions. Are those duplicates or already resolved? Can we consider them as duplicates and close them? Have you read my comments there? I have been providing some guidance on them.

The codelab is designed to connect only two peers.

[2018-04-24 03:32] sarathkumar654 commented on #78
we were following the below code
var os = require('os');
var nodeStatic = require('node-static');
var http = require('http');
var socketIO = require('socket.io');

var fileServer = new(nodeStatic.Server)();
var app = http.createServer(function(req, res) {
  fileServer.serve(req, res);
}).listen(8080);

var io = socketIO.listen(app);

	var clientsArray = {};
	var roomNow;

io.sockets.on('connection

[2018-04-26 03:42] sarathkumar654 commented on #39
I uesd this code in step 5 var os = require('os');
var nodeStatic = require('node-static');
var http = require('http');
var socketIO = require('socket.io');

var fileServer = new(nodeStatic.Server)();
var app = http.createServer(function(req, res) {
  fileServer.serve(req, res);
}).listen(8080);

var io = socketIO.listen(app);

	var clientsArray = {};
	var roomNow;

io.sockets.on('connection', fun

[2018-04-26 05:05] YuriyPomaznoy commented on #39
This is a simple, instructional example. In the original it was so that you had to restart the server every time. I just fixed it. For complex cases - https://play.google.com/store/apps/details?id=rmc3.videoconference

[2018-04-26 06:47] sarathkumar654 commented on #39
Can you provide the code to restart the server

[2018-04-26 07:03] sarathkumar654 commented on #39
I am facing a problem with the above code A&B, C&D, E&F can communicate each other at a time but A&B closes connection all other room connections are disconnected , simply if any room connection will close other rooms are automatically disconnected. how to rectify this problem anybody provide some sample code for this

[2018-04-27 18:47] YuriyPomaznoy commented on #39
Empty the room after the first disconnect from it
[code]
or delete it from the object
[code]

[2018-04-28 18:31] YuriyPomaznoy commented on #39
ha-ha!
[code]

[2018-04-30 06:03] sarathkumar654 commented on #39
still all the rooms are get disconnected while I close a video call
I used this code
function hangup() {
  console.log('Hanging up.');
  stop();
  // sendMessage('bye');		On the client, do not send this message
}
but it is not working

[2018-04-30 07:11] YuriyPomaznoy commented on #39
All the client code is from me
[code]
All server code
var os = require('os');
var sktio = require('socket.io');

module.exports = function(server) {
	var clientsArray = {};
	var io = sktio(server);
	var roomNow;

io.sockets.on('connection', function(socket) {

	// convenience function to log server messages on the client
	function log() {
		var array = ['Message from server:'];
		array.push.apply(

[2018-04-30 07:14] YuriyPomaznoy commented on #39
Everything is working
[code]

[2018-04-30 07:36] YuriyPomaznoy commented on #39
Do you see the logs?
One room, the second room, disconnected in the first room, again disconnected in the first room, again turned up in the first room, a third room appeared, etc. etc.
Everything is working.

[2018-04-30 18:58] johnpallett opened #79 "Please add Tip to reflect new UA autoplay policies"
The 'autoplay' attribute alone no longer guarantees autoplay, per changes to user agents (browsers including Safari, Chrome).

Generally, it's best practice to assume that the page requires a user gesture before <video> can autoplay. Also note that in Chrome use of an AudioContext also requires a user gesture.

Chrome: https://developers.google.com/web/updates/2017/09/autoplay-policy-changes
Safar

[2018-05-02 08:06] sarathkumar654 commented on #39
thanks for the code ,
we are facing a problem outside networks cant connect to our network , how to rectify this problem.

[2018-05-02 21:27] isaken opened #80 "Text below image due to wrapping"
On [Page 3](https://codelabs.developers.google.com/codelabs/webrtc-web/#3) of your guide, the wrapping of the screenshot is off, so it cuts the sentence. **Note** the cut, "_of ... course_". Screenshot below

![image](https://user-images.githubusercontent.com/13982723/39550023-22414cb2-4e60-11e8-949f-9b41f1755f3b.png)

[2018-05-04 15:36] YuriyPomaznoy commented on #39
https://github.com/muaz-khan/RTCMultiConnection#v3-demos

[2018-05-07 05:52] sarathkumar654 opened #81 "Media Server"
I am trying to implement media server for step 5 , If any one having the code please help me.

[2018-05-14 00:33] kenjim83 opened #82 "`stream` object in global scope?"
Maybe I'm missing something but on this page of the tutorial (https://codelabs.developers.google.com/codelabs/webrtc-web/#3)  it says

[code]

however I was unable to access `stream` from the console.

[2018-05-17 08:48] sarathkumar654 commented on #72
what all are the should I made in the main.js and index.html pages to implement conference call at a time by increasing the room size .

[2018-05-17 08:48] sarathkumar654 commented on #72
what all are the changes should I made in the main.js and index.html pages to implement conference call at a time by increasing the room size .

[2018-05-20 21:16] chmod0775 opened #83 "Codelabs tutorial code snippets do not match example code"
As it stands, codelab tutorial snippets do not match project code.
For example, the tutorial at [Stream video with RTCPeerConnection](https://codelabs.developers.google.com/codelabs/webrtc-web/#4) has the following snippet:

[code]

However, the analogous sample code from [the github repository](https://github.com/googlecodelabs/webrtc-web) appears to have entirely different variable names. pc1 is

[2018-05-22 11:12] sarathkumar654 opened #84 "WEBRTC conderence call"
what all are the changes should I made in the main.js and index.html pages to implement conference call at a time by increasing the room size  for step no -5 .

[2018-05-25 09:22] sarathkumar654 commented on #39
I tried to add a third person to the  room for step no -5  but its not working, can you help us

[2018-05-25 12:01] YuriyPomaznoy commented on #39
On the above link there is the item "Video Conferencing". There are ready-made client side and server side codes. I made a video conference on them for any number of clients - they are working codes.
This training example can not be expanded.

[2018-05-28 10:36] lxlenovostar opened #85 "send "ready" twice in step-06"
[code]

In index.js,  send "ready" twice will let peer `createOffer()` twice. This will make a error.

[2018-06-05 07:12] sarathkumar654 commented on #39
I tried to add a third participant , in server a third participant added  by adding number of clients , but no peer connection created for third person . should I made any changes in main.js page

[2018-06-06 00:20] chrwei commented on #32
at the very least the guide should have a note about requiring HTTPS and a link to node's docs for setting it up it.

[2018-06-06 15:38] boboyada opened #86 "same-origin"
~/dev_projects_book_often/webRTC/webrtc-web/step-04$ static .
serving "." at http://127.0.0.1:8080

but
http://localhost:8080/index.html

after press T12:

The FetchEvent for "http://localhost:8080/index.html" resulted in a network error response: the promise was rejected.
service-worker.js:38 Uncaught (in promise) TypeError: Failed to execute 'fetch' on 'ServiceWorkerGlobalScope': 'only-if-cached

[2018-06-08 14:22] druuu opened #87 "step-06, OperationError: Failed to set local offer sdp"
when trying to connect to an existing room, the following error occurs

`main.js:414 OperationError: Failed to set local offer sdp: Failed to push down transport description for data: Local fingerprint does not match identity. Expected: sha-256 CB:4E:B5:25:34:E5:3B:22:71:15:0B:53:43:BF:22:A8:67:51:79:A0:B4:DD:5F:F8:46:1B:9C:95:46:54:E2:EE Got: sha-256 26:36:B2:06:96:84:97:6B:EA:58:72:C6:70:7B:B9:D

[2018-06-15 04:19] nitobuendia commented on #73
Hello @amdani786 , do you still need help here? Or did my answer help?

//cc: @samdutton

[2018-06-15 05:28] nitobuendia commented on #81
Hi @sarathkumar654

Thank you for adopting WebRTC :)

You could start reading [this article](https://webrtc.ventures/2017/11/a-guide-to-webrtc-media-servers-open-source-options/) to familiarise yourself with Media Servers.

In addition, you could try other Github repositories where they tackle this. For example, [this one](https://github.com/medooze/media-server). That would give you a good head s

[2018-06-15 05:29] nitobuendia commented on #70
@sarathkumar654 I understand this helped you?

/cc @samdutton

[2018-06-15 05:31] nitobuendia commented on #75
@samdutton This feels like a duplicate of #78. Since there's code posted there, maybe we could keep that one. @sarathkumar654 Would you be fine with that?

[2018-06-15 05:35] nitobuendia commented on #78
@sarathkumar654 In what **step-xx** did you apply this code? Otherwise, I am unable to test.

[2018-06-15 05:35] nitobuendia commented on #74
Hi @sarathkumar654 We have discussed multiple discussions a few times on #72 and #74.

If you want videoconferencing with several peers, Media Server is a good approach.
This one, you are exploring it on #81 and we could centralise conversations there.

//cc @samdutton

[2018-06-15 05:36] nitobuendia commented on #84
Hi @sarathkumar654

Thanks for your message. We have discussed a few times how to increase peer connections in #72 and #74. In addition, we are also discussing how to make it effectively in #81.

[2018-06-15 05:57] nitobuendia commented on #83
@chmod0775 Thanks a lot for reporting. It feels like we updated the codelab repository to fix some issues; but we may have neglected or forgotten to do the same on the codelab text. I have worked on it for step-01 and step-02 which I presume are the ones that have the biggest differences. Have you encountered major differences in other parts too?

@samdutton I have made the suggested changes and s

[2018-06-15 06:06] nitobuendia commented on #86
Hi @boboyada

Thanks a lot for reporting. This sounds like it could be related to [this bug](https://bugs.chromium.org/p/chromium/issues/detail?id=823392).

To be safe, have you run `npm install` from step-04 folder before running it? Note that installing from a different folder would not make it. It needs to be installed on each folder.

Also, could you try clearing the application storage and re

[2018-06-15 06:17] nitobuendia commented on #79
Hi @johnpallett

Thanks a lot for reporting and providing the right documentation.

I have just tested step-01 and step-02 on Chome 66.0.3359.181 for MacOs and the video played without any issues nor actions. It even worked when I enabled audio on the code.

Did you experience any issues since this policy has been introduced? I am happy to adapt any piece, but I wanted to make sure that there are

[2018-06-15 06:35] nitobuendia commented on #82
@samdutton Sent #88 to fix it.

@kenjim83 In the meantime, play around with step-02 which already have localStream and remoteStream in the global scope.

[2018-06-15 06:37] nitobuendia commented on #87
@druuu Thank you Dinesh for reporting the issue and proposing a solution. Do you want to send a PR and I can review it? The proposed change makes sense a priori and I am happy to have a look. If you are not willing, happy to take on the PR too.

PS: This feels the same as #85.

[2018-06-15 06:39] nitobuendia commented on #85
Hi @lxlenovostar Thanks a lot for reporting.

While I have not tested it, I can see how emitting ready twice could be an issue. This feels the same root cause as #87 and there is a fix proposed there. We will be tackling it shortly.

[2018-06-15 11:14] #82 closed

[2018-06-15 11:15] samdutton commented on #75
SGTM. Happy to close.

[2018-06-15 15:50] johnpallett commented on #79
Please see command-line flags below (also in the docs above) where you can force autoplay blocking in Chrome to test the behavior. Note that Chrome doesn't currently affect audioContext (Web Audio API), this will come into effect with Chrome 70, but you can test in Canary now.

The following flags will ensure autoplay is blocked by disabling MEI, turning off the pre-seed list, and blocking autopla

[2018-06-25 21:35] chmod0775 commented on #83
@nitobuendia Yeah, glad to help! I'll run through codelab again this week. If I find anything else, I'll be sure to comment in here.

[2018-07-04 21:41] chmod0775 commented on #83
@nitobuendia, Most of this stuff is a little pendantic, just a few typos:

[**Stream video with RTCPeerConnection**](https://codelabs.developers.google.com/codelabs/webrtc-web/#4)
1. `pc1` and `pc2` should be switched to `localPeerConnection` and `remotePeerConnection`, respectively

2. s/Connectionpc1/Connection/

..
..
..

Thank you for your work.

[2018-07-05 14:50] jlberrocal commented on #56
is there any new about this? still getting the same issue on version 67

[2018-07-06 00:03] huynhquocmy commented on #56
@jlberrocal: I haven't checked since 5 months ago. please help to verify again!

[2018-07-06 12:59] jlberrocal commented on #56
well in fact i have been working this week in a tool for use camera to take a picture and seems that chromium based browsers are failing on android they just display a black screen instead of the stream with no errors on console

[2018-07-13 20:16] neilkinnish commented on #56
This issue seems to exist still even in Canary version 69.

Still getting...

[code]

On android chrome when using h264.

I've looked into all the sdp mundge options but have not found a resolve for this yet

[2018-08-13 23:47] otaviolbc commented on #79
Hi, I have noticed that this policy is applied to small sites I see many sites able to go through this policy without any restraint

I already tried to practice the same steps of these even more yes I can not the automatic reproduction of the audio content for a web radio in the case.

Does it have something that appropriate google to release or not in these cases?

See the address of this one tha

[2018-09-10 17:43] rupesh2017 opened #90 "implementing signaling service in python(flask)"
https://codelabs.developers.google.com/codelabs/webrtc-web/#6

To implement this in **flask**  there is only change need to write code equivalent to index.js

import os
import requests

from flask import Flask,jsonify,render_template,request
from flask_socketio import SocketIO,emit,join_room,leave_room,send

from werkzeug import secure_filename

app = Flask(__name__)
app.config["SECRET_KEY"] = os.

[2018-09-11 06:09] bogatisuman commented on #56
I am able to run the [following example](https://codelabs.developers.google.com/codelabs/webrtc-web/#7)  on browsers of Linux computer. But the remote video is not displaying when I run this example between **Google-chrome 69 of Window 10**(desktop) and **Safari of iPad 11.4.1**.

It displays only local stream not remote stream. However each user has getting remote stream and when I debug this str

[2018-09-12 08:42] bogatisuman opened #91 "Remote video is no not displaying on Chrome"
I am able to run the following  [Step-8](https://codelabs.developers.google.com/codelabs/webrtc-web/#7) on browsers of Linux computer. But the remote video is not displaying when I run this example between **Google-chrome 69** of **Window 10 and Safari of iPad 11.4.1**.

It displays only local stream not remote stream. However each user has getting remote stream and when I debug this stream, it ha

[2018-09-27 00:29] chevsky commented on #56
@bogatisuman got the same thing

[2018-09-27 00:36] chevsky commented on #91
+1

[2018-10-04 07:48] Timdenouden1 commented on #91
It is getting weirder over here:
![windows_10_chrome_69_webrtc_bug](https://user-images.githubusercontent.com/43842882/46459891-7f657480-c7ba-11e8-9f49-4ed90139442c.png)

As you can see in the screenshot, in the top line, there is stated the muted is false, but when unfold the object, it says it's true?!

[2018-10-12 01:53] wiwengweng commented on #56
Hi, all. I see the samples work on https, and I just deploy on http, the samples works on Android phones, but faile on ios 11. Do the samples need https on ios??

[2018-10-22 05:26] savath opened #93 "Step 5-6 not working"
I tried copying and pasting the code from the folder of steps 5 - 6 but it doesn't work. For example, step 6 shows what it is suppose to look like but the results i'm getting when i enter "localhost:8080" in the url, its the same as step 4.

[2018-10-22 05:27] savath opened #94 "Step 5-6 not working"
I tried copying and pasting the code from the folder of steps 5 - 6 but it doesn't work. For example, step 6 shows what it is suppose to look like but the results i'm getting when i enter "localhost:8080" in the url, its the same as step 4.

[2018-10-30 05:35] jeffreyvalle opened #95 "Typo step #7 What You Learned section"
'Run a Node.js server to server static files.' should be 'Run a Node.js server to serve static files.'

[2018-10-30 15:58] nitobuendia commented on #95
Hi @jeffreyvalle , where did you find this? On what step? Is it on the code or codelab? Thank you for reporting it.

[2018-11-18 22:09] ccloquet commented on #91
Same issue here.
It works between Chrome for Android & Firefox 63.0.3 for Windows 7, but not between Chrome for Android and Chrome 70.0.3538.102 for Windows 7.
The track is also muted as @Timdenouden1 describes it.

[2018-12-10 06:15] pkuhonker commented on #91
same issue.
chrome 70 or chrome 71 on windows 10

[2019-01-03 10:06] ashishpatelcs opened #96 "Typo step 7 on code labs"
The codelabs page at https://codelabs.developers.google.com/codelabs/webrtc-web/#6 has a typo in 'what you learned' section second bullet point. It says:
"Run a Node.js server to server static files."
Whereas it should have been:
"Run a Node.js server to serve static files."

[2019-01-10 08:41] Beatsleigher opened #97 "Page 1: Introduction - Where can I use WebRTC?"
On the first page of the codelab, it states:

**Where can I use WebRTC?**
In Firefox, Opera and in Chrome on desktop and Android. WebRTC is also available for native apps on iOS and Android.

However, WebRTC is supported by iOS (iPhone, iPad) Safari, as shown here: https://webrtchacks.com/guide-to-safari-webrtc/
I suggest mentioning, that at least basic support for WebRTC is available on Safari on

[2019-01-13 19:13] rezaamya opened #98 "step 02 not working in Opera"
I am using the latest version of Opera
Step 02 will show my Video but it doesn't show remote one.
![image](https://user-images.githubusercontent.com/8912282/51089569-9e45b080-1784-11e9-85b6-c427c640eaed.png)

[2019-01-26 18:37] gsbinu commented on #14
Hi , We are trying to configure COTURN as a TURN server, but we are getting this same error. Can some one help with the configuration to make it work. How shall we add the 'Access-Control-Allow-Origin' header in COTURN? Thanks in advance.

[2019-02-13 03:53] sevendreamzone opened #100 "Ice failed"
when A and B connects its working fine . when C and D connects it also works fine when we are trying to connect E and F ice fails how to solve this problem , is it possible to solve this problem by adding powerful stun and turn servers .

[2019-03-07 17:49] HPODEV commented on #56
i have same problem, i follow

[2019-03-10 03:20] JamieCorkhill commented on #91
Does anyone have a resolution to this?

I have found that Chrome does not always display the remote video, even when there is a remote stream from the peer. I also find, sometimes, that when right-clicking where the video element is, there is a "Show Controls" object which, when you press play, will start the stream.

With that said, I have tried calling `.play()` directly from JavaScript on the v

[2019-04-16 09:34] Shenanigator commented on #38
Is there an update to be expected soon? Mediastreamevent is deprecated but I have a hard time finding an alternative for it :/

[2019-05-03 16:39] nstudach commented on #93
Hard reloading the page might fix your issue. If you are using chrome: Hold CTRL and press the Reload Button

[2019-05-03 16:39] nstudach commented on #94
Duplicate of #93

[2019-05-03 16:41] nstudach commented on #95
[Codelab](https://codelabs.developers.google.com/codelabs/webrtc-web/#6). What you learned: 2nd bullet point

[2019-05-03 16:42] nstudach commented on #96
Duplicate of #95

[2019-05-21 15:51] swpalmer opened #101 "codelab indicates incorrect folder name in zip archive"
Codelab at https://codelabs.developers.google.com/codelabs/webrtc-web/#2

has download button linked to https://github.com/googlecodelabs/webrtc-web/archive/master.zip

Claims that the downloaded zip contains a project folder named "adaptive-web-media", but the real folder name is "webrtc-web-master"

[2019-05-24 11:57] Entrecampos commented on #38
[https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/onaddstream](url)

For onaddstream  you should now use RTCPeerConnection.ontrack to watch for track events instead.

[2019-06-03 23:59] jmmsp-iscteiul opened #102 "step 9 is not working..."
Hello everybody,

I was following all the tutorial and everything was ok, then, when i try to execute the step-06 it appears the website with my camera and only the button "snap" is working, the others are not working. Everything on my code is ok i think, because i have only runned step-06.
Resuming; is only working to take snaps, the button "send" and "snap and send" are not working..

Best Regar

[2019-06-10 03:24] biswajitpatra commented on #102
Take care of the few things first:
1.There should be two pages opened with the same URL and roomid
2.Refresh one or both the pages as socket may not be successful

[2019-06-12 15:16] lukemcso commented on #102
@jmmsp-iscteiul - I was having the same issues. I think the doc needs updating. If you make the following changes it should help:

From your main.js file, function: signalingMessageCallback

Change:
`else if (message.type === 'candidate') {
    peerConn.addIceCandidate(new RTCIceCandidate({
      candidate: message.candidate,
    }));`

to

`else if (message.type === 'candidate') {
    peerConn.ad

[2019-06-19 14:02] shivarajnaidu commented on #91
Me too getting the same .. Any hint on this.. ?
Received Media stream in On Track event and atached to video element but .. video not getting displayed :(
![image](https://user-images.githubusercontent.com/12374494/59772149-df5c6680-92c8-11e9-8f9d-a5371abdc3e2.png)

[2019-06-19 16:17] JamieCorkhill commented on #91
@shivarajnaidu

I ended up developing my own WebRTC solution, so I'm not completely sure what the issue is here.

If you want, I could throw you together a React Solution with a Node.js backend for Signaling that does work and that does display the remote stream in Chrome, but I'm not sure what the timeline would be for that.

For now, ensure that, for the video element, `autoplay` is true, `muted

[2019-06-20 15:24] shivarajnaidu commented on #91
Thank You for quick reply @JamieCorkhill

Really in needful situation .. Will be very helpful for me, if you can share working codebase to play
around

Really thanks @JamieCorkhill

[2019-06-22 04:21] JamieCorkhill commented on #91
@shivarajnaidu I'll try and put something together for you this weekend.

[2019-07-06 18:09] fslurrehman commented on #102
This solution helped me. It removed error of "Uncaught TypeError: Cannot read property 'type' of null in main.js: 176".  It works in chrome but not in firefox.

[2019-07-06 18:10] fslurrehman commented on #102
This solution helped me. It removed error of "Uncaught TypeError: Cannot read property 'type' of null in main.js: 176". It works in chrome but not in firefox.

[2019-07-17 13:00] vuckookv3 commented on #91
Hey, I am very intrested in your react-node implementation of livestream. Could we get a repo link or something?

[2019-07-19 18:25] Shrek53 commented on #91
For [Step-05](https://github.com/googlecodelabs/webrtc-web/tree/master/step-05)
I tunneled my localhost server through ngrok for https .
I could successfully establish peer connection (video exchange) between my
PC (Chrome v75+ on Ubuntu ) and Phone (Chrome on Android ) on the same wifi network.
I can see both local and remote video streams.
But on different network peers seemed to get connect but

[2019-07-21 10:51] Archer-Thane commented on #37
@moneytoo I were opened the chrome://webrtc-internals/ and saw the iceServers:[] which does not make sense.
Thanks

[2019-07-22 07:07] nir100 commented on #91
Any updated on that issue?
We having this issue too.

[2019-07-27 18:40] mghoff commented on #98
I am interested in the solution for this also - working in the latest Chrome browser, I get the exact same result as above from Step 2 "completion".

[2019-07-27 19:05] mghoff commented on #98
Additionally, I have found that the completion of Step 2 works when tested in my Safari browser - checked for differences between pop-up permissions, settings, etc. between the two browsers but found nothing.

[2019-07-29 17:01] rezaamya commented on #98
Seems the problem is because of the Opera's default configuration!
Go to Opera's Settings/Advanced/WebRTC and enable "Use any suitable network interface". It will solve the problem.

[2019-08-21 12:58] mason opened #103 "rename localStream to mediaStream"
the tutorial is a bit confusing as it references `localStream` as what's passed in `getUserMedia` but I think the tutorial is supposed to say

From:
The localStream object passed to getUserMedia()

To:
The mediaStream object passed to gotLocalMediaStream()

`localStream` doesn't get passed into `getUserMedia` but `mediaStreamConstraints` does

[2019-08-26 01:54] the-nose-knows commented on #93
@nstudach Sorry, that doesn't work and this bug is almost a freaking year old. Did you ever find a workaround @savath ?

[2019-08-26 10:18] the-nose-knows opened #104 "Two sections for the actual CodeLabs site source are flagged deprecated and marked for for removal in Feb 2020"
Platform: MacBook/Intel
OS: Mojave 10.14.6
Browser: Chrome "Version 76.0.3809.100 (Official Build) (64-bit)"

Steps to Reproduce:
1. Open the Chrome browser's console with <kbd>command</kbd>+<kbd>option</kbd>+<kbd>J</kbd>
2. Go to the CodeLab from that Chrome browser: https://codelabs.developers.google.com/codelabs/webrtc-web
3. Observe the console

Result:
Two warnings appear.
1. > [Deprecation]

[2019-08-30 19:07] dynamount commented on #91
Same here. Any updates?

It works fine in Firefox, but remote video not displaying in Chrome.

I have the "muted", "autoplay", and "playsinline" attributes on the video element.

If I go to chrome://webrtc-internals/ and look at RTCMediaStreamTrack_receiver, I can see the video data coming in with the correct bitrate and framerate. However, as the frame count climbs I notice that framesDropped rem

[2019-09-01 14:09] Shrek53 commented on #91
Finally I understood the main problem regarding the remote video.
There can be 3 type of connection.
For local network host is used. **Does not need to config turn or stun for this.**

1. **Host** - (This happens on the same network e.g. same wifi)
For remote video you must need to add and configure stun or turn server.
While creating RTCPeerConnection use stun and turn config.

`
var pcConfig = {

[2019-09-05 17:51] the-nose-knows opened #105 "Step 3 only works on Firefox for MacOS"
Platform: MacBook/Intel
OS: Mojave 10.14.6
Browsers:
1. Chrome "Version 76.0.3809.100 (Official Build) (64-bit)"
2. Safari "Version 12.1.2 (14607.3.9)"
3. Firefox "69.0 (64-bit)"

Steps to Repro:
1. Clear contents of `work` directory
2. Copy contents of `step 4`, `step 5`, or `step 6` into the the `work` directory
3. `npm install`
4. `node index.js`
5. Open `index.html` in Chrome or Safari
6. Atte

[2019-09-16 17:30] AlekRuzic commented on #14
@Sammyjroberts  Turns out that part you took out was causing me problems too! Thanks so much it was driving me crazy.

I'm assuming for it to work across networks you'd need a turn server as well so my config looks like:
var pcConfig = {
  'iceServers': [
  {'urls': 'stun:stun.l.google.com:19302'},
  {"urls":"turn:numb.viagenie.ca", "username":"webrtc@live.com", "credential":"muazkh"}
  ]
};
(I ca

[2019-09-17 16:37] Hassan3152 opened #106 "Webrtc video chat not working in different networks after lesson 6"
It works fine on same network but does not work on different network. i have installed coturn on azure online server, but also not working. any help on this.

[2019-09-24 02:00] damishshah opened #107 "The peer connection here doesn't actually use the 'pcConfig' defined above"
This approach works fine for local connections, but fails since neither the STUN nor TURN configuration is set.

https://github.com/googlecodelabs/webrtc-web/blob/93b2d7cf00f0a457b11f843b3fedcde316f21a27/step-05/js/main.js#L149

[2019-09-24 02:10] damishshah commented on #106
One thing it could be is that you need to connect via https which involves some kind of signed certificates returned by your node server. What issue are you facing? You can also use "chrome://webrtc-internals/" in chrome to help debug. It'll list all of the network calls that are being made and help you narrow down your problem.

[2019-09-30 17:44] scoolualek opened #108 "Can't re-enter same room unless both peers leave"
If I have a video call going, and one person leaves and then tries to come back, he won't be able to enter the same room the other person leaves as well, and then they both re-enter. This is also a problem because if you lose your connection or refresh, you won't be able to re-enter the room.

I'm very confused. It doesn't say the room is full when I try to re-enter so it does recognize that someo

[2019-09-30 18:05] scoolualek commented on #108
Seems to be working now, I changed two things if anyone has a similar issue.

First, in the maybeStart function, I took out the need for isInitiator to be true to be able to call doCall(). I'm still very new to webRTC and I'm not even sure what purpose isInitiator serves, but my application seems to be working fine without using it in this function. If there is a problem with doing things this way

[2019-11-07 11:51] Datarmanatar opened #109 ""socket.io/socket.io.js" not existing"
In the tutorials, it assumes that "socket.io.js" is created into a map named "socket.io", however, when using npm i step-04, it creates a "socket.io.js" file, but it isn't in a socket.io map. this and some other things results in that when running the tutorial (and the server points to the right map, it gets error)

[2019-11-25 18:53] aleparmi opened #110 "HTTPS not showing remote video"
Hello everybody,
After checking out issue #48 my node.js server is still not working properly. All resources are loading correctly on http://localhost:8080 but the peer connection and then remote video aren't executing in https://localhost:8080 . Notice that I'm testing everything within my LAN, sometimes also with 2 devices on different browsers. I've also disabled the TURN lines as suggested in

[2019-11-26 10:11] aleparmi commented on #110
Fortunately I solved it. The problem was a wrong comment in main.js file:
//io.sockets.in(room).emit(‘join’, room);

[2019-11-26 10:11] #110 closed

[2019-11-27 07:21] lherman-cs commented on #91
I'm also having a similar issue

[2019-11-28 15:02] edhelas commented on #91
Similar issue

[2019-12-09 14:17] SaiPha454 commented on #91
Yes. If we use in seperate network, we must use stun or turn server

[2020-01-16 15:10] liufanghua2012 commented on #91
I was also stucked in the same issue for couples of days. According to my search, from chrome version 66+ on, before any real user's interaction with the browser, if the video is not muted, the remote stream will not display, although you have received stream data from the server. The following codes work as expected in most time during my test:
        //Create html stuff
	const div = document.cr

[2020-01-21 15:02] alakhera commented on #56
I am also experiencing similar issue on ios 12/13. I do have added code for onunmute event like

`e.track.onunmute = () => {
          console.log('onunmute called for',e)
          if (!remoteVideo.srcObject) {
            remoteVideo.srcObject = e.streams[0];
            remoteVideo.setAttribute('playsinline', true);
          }
}`

In case this works, the track's muted state is false, and when

[2020-03-07 08:39] cre8tion opened #111 "Typo on Codelabs Step 2 Bonus Points"
Under Bonus Points,

4. From the console, look at `localPeerConnectionpc1.localDescription`. What does SDP format look like?

`localPeerConnectionpc1.localDescription`should be `localPeerConnection.localDescription`

[2020-03-10 14:14] ludothetester commented on #102
I had the same situation and got to the same conclusion (before I saw this bug).
But, event after correcting the main.js I still have an issue as show below.
I have absolutely no clue on how to solve it. Could you help ?

VM349:1 InvalidStateError: Failed to set remote answer sdp: Called in wrong state: kStable DOMException: Failed to set remote answer sdp: Called in wrong state: kStable
a.<comput

[2020-03-10 14:17] ludothetester commented on #102
Or sometimes, message is

VM13:1 InvalidStateError: Failed to set remote answer sdp: Called in wrong state: kHaveRemoteOffer DOMException: Failed to set remote answer sdp: Called in wrong state: kHaveRemoteOffer
a.<computed> @ VM13:1
logError @ main.js:409

[2020-03-13 03:23] qs991011 commented on #91
This issue has been bothering me for a long time. I have tried many ways but I can't,what can I do something!

[2020-04-09 10:21] Lolaboy commented on #93
i think i know the problem. In index.html, u will notice a missing "/" in front js the code "<script src="js/main.js"></script>". change that line to "<script src="/js/main.js"></script>" such that it will use the javascript file main.js instead of index.js for code behind. (due to the missing /, it will not open the folder to locate main.js, but however will use the nearest java script file which

[2020-04-22 22:04] dturvene commented on #102
I am getting the same error when starting second client with same room id.  See stack trace:

[2020-04-23 18:34] knoxjoseph commented on #91
This worked for me. Thanks Liu

[2020-04-23 18:36] knoxjoseph commented on #91
This worked for me. Thanks @liufanghua2012

[2020-04-25 19:56] jerlam06 commented on #102
The code seems to be badly written, the step 06 is working like 2 out of 15 times, I need to hit CTRL + R many times, and wait a long time, and then if I am lucky the two peers will eventually be connected to one another. I think Google should take some time to fix this course, there are still issues, typos...etc that are from 2016, what a shame. Especially for such technology that will be omnipre

[2020-04-26 16:02] shivamag00 commented on #106
I am having the same issue. The signalling is done correctly and but somehow I'm unable to see the remote video on my browser on done networks

[2020-04-29 18:20] deepamgupta opened #112 "Typo in Exercise 4 of codelabs in the Bonus Points section"
The first point of Bonus Points of Exercise 4 of codelab ([Link](https://codelabs.developers.google.com/codelabs/webrtc-web/#3)) says:

"open the console, type stream and press Return" should be "open the console, type `localStream` and press _Enter_"

[2020-04-30 13:05] deepamgupta opened #113 "Typo in Exercise 5 of googlecodelabs Bonus Points"
In Exercise 5 of Google Code Labs Tutorial of WebRTC [Link](https://codelabs.developers.google.com/codelabs/webrtc-web/#4), under Bonus Points section point 4 says "From the console, look at `localPeerConnectionpc1.localDescription`. What does SDP format look like?".

Here `localPeerConnectionpc1.localDescription` must be `localPeerConnection.localDescription`.

[2020-05-14 18:59] enzosambucetti commented on #91
You need a SSL certificate in the server to get remote stream.

[2020-05-26 05:22] youngAe commented on #106
After 'npm install'  as you said, some problem was happened.
--------------------------------------------
found 1 low severity vulnerability
run `npm audit fix` to fix them, or `npm audit` for details
--------------------------------------------

So, I did input to my visual studio code `npm audit`,
The response was that.
-------------------------------------------
 Low             Prototype Pollu

[2020-06-13 18:37] CeoFred commented on #91
Another reason why your remote video wouldn't play is because you are not connected to the internet.

[2020-06-15 15:44] dturvene commented on #102
I got it working using Pull Request #89 and the mod in this issue from @fslurrehman.  Git patchset is attached.

[code]

[2020-06-20 11:11] vino6665 commented on #106
hi ...i m even struggling to get on same network itself...could you send the available code to me...thanks

[2020-06-26 19:47] RisingGeek commented on #106
Hi, @Hassan3152 . I am also struggling with the same issue. I tried to add a stun server for obtaining public IP address. But, that does not fire an event for `iceconnectionstatechange`.  Have you found any solution?

[2020-06-27 03:13] SulaimanAminuBarkindo commented on #91
This one worked for me thanks

[2020-07-06 13:12] sahabe1 opened #115 "audio is not receiving iphone safari"
I connected web RTC with iphone and android chrome voice is coming from iPhone to android chrome but not not receiving in iPhone

[2020-08-08 17:46] lindalibjchn opened #116 "step-06- message.type==='offer'"
1. open first page with http://localhost:8080/#d25165e54d9d0, there is no issue.
2. open a new tag or page by using the same url (http://localhost:8080/#d25165e54d9d0), there is an issue below,
this issue is in socket.on('message', function(message){
if (message.type == 'offer') {
})
for a while, the server shows the message: **Peer or server disconnected. Reason: ping timeout.**
/////////////////

[2020-08-13 13:00] sudo-mumblecrust opened #117 "Broken Link on exercise 1"
[In Exercise one - Introduction](https://codelabs.developers.google.com/codelabs/webrtc-web/#0)

The link at the bottom of the page;

leads to 404.

[2020-09-05 05:54] pravinkumarputta commented on #91
This solution is worked for me.

[2020-09-29 07:36] borhanreo commented on #106
Me too also struggling with this same issue

[2020-09-29 07:40] RisingGeek commented on #106
I added STUN and TURN servers. It's working now. Just one issue, after around 7-10 minutes, WebRTC connection is closed.

[2020-09-29 07:41] shivamag00 commented on #106
Yes... I got a free TURN server for XirSys. And on adding the TURN url in the configuration named object , it works fine

[2020-09-29 07:43] shivamag00 commented on #106
Issue a turn server from XirSys. It is available for free

[2020-09-29 14:48] samames opened #118 "Broken"
Whole thing needs updating.

[2020-10-03 14:56] mrpkdeveloper commented on #106
can u please share how did u do that . i am also facing the same error.

[2020-10-07 16:03] lolaodelola opened #119 "Using legacy `offerToReceiveVideo` in step 2"
[code]
According to MDN, `offerToReceiveVideo` is legacy and should be replaced with `RTCRtpTransceiver`,

https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/createOffer

[2020-10-08 12:03] Aakshara opened #120 "error"
I cannot see any video in step 6. Everything worked well but step 6 is the problem where I'm stuck now. There is slight error in index.html ,
<script src="/js/main.js"></script>, the / before js is missing. I have corrected it too, but still i cannot see the video.

[2020-10-08 13:02] Aakshara commented on #120
The issue has been solved by doing nothing. But now i could see the send button and the snap &send button are disable.

[2020-10-16 05:07] leungkimho commented on #91
I made the mistake of not reading the instructions all the way through and assumed I should have been seeing both the local stream and the remote stream on the one and only tab I had opened.  Recall in a previous signaling exercise that additional tabs had to be opened to see the number of clients increase.  The first tab opened in this case is the initiator and does not have any remote clients to

[2020-10-17 19:14] leungkimho commented on #120
@Aakshara - I ran into the same problem here.  Don't know if the symptoms are the same, but my console was outputting the following error:

`Uncaught TypeError: Failed to construct 'RTCIceCandidate': sdpMid and sdpMLineIndex are both null.`

The problem was some missing code in the main.js file that handles the 'candidate' type messages from the client.
 @lukemcso made a great post with his soluti

[2020-10-23 11:53] cbiras commented on #56
@hermanfransen , I followed the same google codelab for the WebRTC implementation, and the Peer connection and signaling are working fine only on the same browser, with two different tabs opened. My problem is that I need the connection to be between a Safari Ipad browser and a Windows chrome browser. The ipad is able to connect to the server, but the video streaming is not working. I hope you kno

[2020-11-12 11:16] notmariazoe commented on #118
Hi @samames!
Could you expand a bit more on the issues you've found? Which steps were you unable to continue?
What browsers are you trying the codelab on?

A few of the methods used were pending an update to the recommended usage, but this should be fixed as of recently. Would love to hear a bit more 😊

[2020-12-03 16:10] rbhavanasi402 commented on #91
Hi All,
First time I am working on webRTC technology.
I developed webRTC app using Socket.io, Express, ejs, uuid, nodemon and peerjs libraries.
But I am facing same issue like other tab/browser video is not displaying on both directions. I tried all the above combinations but no luck. Kindly help me if anyone had experienced and got a fix. Thank you..

[2020-12-03 16:18] CeoFred commented on #91
We can't help if you don't state the problem explicitly

On Thu, Dec 3, 2020, 5:10 PM rbhavanasi402 <notifications@github.com> wrote:

[2020-12-03 16:27] rbhavanasi402 commented on #91
[zoomvideochatclone.zip](https://github.com/googlecodelabs/webrtc-web/files/5637404/zoomvideochatclone.zip)

Here is the exact code what i tried but problem i am facing when i open my crome browser localhost:3000 i can able to see my video is coming. But when I tried to open same url with the same uuid generated user id on different crome window/tab i am able to see only my one video on both brows

[2020-12-03 16:59] rbhavanasi402 commented on #91
[zoomvideochatclone.zip](https://github.com/googlecodelabs/webrtc-web/files/5637624/zoomvideochatclone.zip)
Here is the exact code what i tried but problem i am facing when i open my crome browser localhost:3000 i can able to see my video is coming. But when I tried to open same url with the same uuid generated user id on different crome window/tab i am able to see only my one video on both browse

[2020-12-03 17:13] CeoFred commented on #91
For security reasons please put your code on codesandbox and paste the link
here, I'll look into it asap

On Thu, Dec 3, 2020, 5:59 PM rbhavanasi402 <notifications@github.com> wrote:

[2020-12-03 17:27] rbhavanasi402 commented on #91
Please find below codesandbox link.
https://codesandbox.io/s/nice-monad-zgv47

[2020-12-03 17:42] CeoFred commented on #91
Are you sure you are joining the correct room, from what I see, every
request to / redirects to some other room with a new uuid, did you see
that??

On Thu, Dec 3, 2020, 6:28 PM rbhavanasi402 <notifications@github.com> wrote:

[2020-12-03 17:49] rbhavanasi402 commented on #91
I followed the below blog to implement this POC. Yes there is a / redirect in case of only if there is no room id in the URL.
But in this case for the first browser i use localhost:3000 url. This will do go to / redirect and create an uuid as a room id.
I am copying the same URL along with uuid generated room id and joining from different same browser window/tab. So even users are different but bo

[2020-12-03 19:50] rbhavanasi402 commented on #91
Fixed this issue by adding setTimeout with 3 seconds.

  socket.on('user-connected', userId => {
    // user is joining
    setTimeout(() => {
      // user joined
      connectToNewUser(userId, stream)
    }, 3000)
  })

[2020-12-03 21:10] CeoFred commented on #91
So you are good to go yh??

On Thu, Dec 3, 2020, 8:50 PM rbhavanasi402 <notifications@github.com> wrote:

[2020-12-07 22:15] PMickael commented on #91
Hi,

This simple example do not work anymore too : https://webrtc.github.io/samples/src/content/capture/video-video/
MediaRecorder do not work actually too, requestData return an empty Blob data

[2021-01-06 12:26] fdl333 opened #122 "The requested URL alias for "/" is not defined."
I get:

HTTP/404
The requested URL alias for "/" is not defined.

All the time from installation of nodejs server onwards...

[2021-01-25 20:04] zihadbappy commented on #91
Can you please explain? I have deployed a video chat app on heroku but I don't get remote stream. My heroku app doesn't have ssl certificate

[2021-02-01 04:02] a8310262002 opened #123 "Step.8 add ICEServer fail in step-05 folder"
Hello everybody,
I use [coturn server](https://github.com/coturn/coturn) to build stun and turn server.
Then I check the server is working or not on [Trickle ICE](https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/) on Firefox.
![image](https://user-images.githubusercontent.com/32253339/106412874-a95efc80-6483-11eb-847a-9f4c57c109ba.png)

I already do npm install in step-05 fo

[2021-02-06 00:07] ikibkilam commented on #91
Did you ever get this running? Would you comment what you did? Thanks.

[2021-02-10 09:28] sandhyaprasad1897 commented on #91
Hi,

I am new to web rtc and stuck at a point, I have successfully deployed webrtc app on ec2 instance AWS. Fot HTTPS I used NLB. I have also open the port for instance and for NLB for tcp and udp.  When I tried to test it, its working fine on the same network but when I tried to test with remote people with remote location, It shows no video, however I can see remote stream added but still video

[2021-02-18 09:06] zaid225 commented on #34
this not working it gives refrence error io is not defined why we are using script file in html      <script src="../../socket.io/socket.io.js"></script> this file is not a present  ?

[2021-02-18 09:06] zaid225 commented on #34
![Screenshot (374)](https://user-images.githubusercontent.com/63539429/108333209-b6574c00-71f6-11eb-8069-d7ea7eecfe48.png)
this is the error

[2021-03-22 19:16] JeffreyJansen opened #124 "socket.IO.listen is not a function"
In step 7 the terminal command "node index.js" is followed by the error message: _TypeError: socketIO.listen is not a function at Object.<anonymous> (/Applications/MAMP/htdocs/webrtc-web-master/work/index.js:13:19). So the server doesn't start and I cannot see the result in the browser. I copied the code from the step 4 folder.

[2021-04-06 15:32] mdifl opened #125 "Exercise 4 doesn't work because we're serving over http instead of https"
Following the exercise in step 4
'Uncaught TypeError: Cannot read property 'getUserMedia' of undefined'

If you're using chrome then this doesn't work because unless you've set up an ssl cert for your server setup Chrome won't allow you to request video feed. There's no reference to this error that I could find in the exercise itself. There was no reference to this potential problem in the exercis

[2021-04-16 14:44] newtoframework opened #126 "wrong variable name / typo"
At:
Bonus points
The localStream object passed to getUserMedia() is in global scope, so you can inspect it from the browser console: open the console, type stream and press Return. (To view the console in Chrome, press Ctrl-Shift-J, or Command-Option-J if you're on a Mac.)

"type stream and press Return"
Shouldn't it be "type localStream and press Return" since the variable name is localStream

[2021-05-21 02:37] cody1991 commented on #124
may be you use the latest version of socket,  it not compatible with the old version

here my code,

[code]

the method to create scoket io server is different

and the object: ` io.sockets.adapter.rooms` is a Map now

[2021-05-22 17:05] texwerx commented on #124
I’m on iPhone can I do it on phone

Sent  from my iPhone

[2021-05-22 17:09] texwerx commented on #124
Socket on AppStore hey you know about test flight app

Sent  from my iPhone

[2021-06-19 03:52] RitikParikhCTL commented on #106
can u please share how did u do that . i am also facing the same error.

[2021-06-19 03:52] RitikParikhCTL commented on #106
can u please share how did u do that . i am also facing the same error.

[2021-06-20 06:02] 3009aksingh commented on #106
@RitikParikhCTL Did your error got resolved? Anyone please consider sharing a good resource of TURN and STUN server. I followed the steps while searching online but seems like I am not installing it properly. Any help would be highly appreciated. Thanks!

[2021-06-30 06:11] ShreyasTheOne commented on #91
Hey @JamieCorkhill !

I am also facing this issue, I have tried all the above solutions already, but none of them worked. Although, how you said that the video starts playing when you click play, my video doesn't start even then. Everything else matches though, my **local** video has `muted: false`, and **remote** video has `muted: true`.

It's been quite a few years since this issue had been rais

[2021-07-09 19:09] shivamag00 commented on #106
@mrpkdeveloper @RitikParikhCTL @3009aksingh
You can get free TURN/STUN server from [Xirsys](https://global.xirsys.net/dashboard/services). Create an account, get a token, create a channel and then go to static TURN credentials.

[2021-08-04 17:54] HarpreetKorechi opened #127 "Scroll position is not at start page when I go to next page"
When I go to next page it gets loaded at the previous page scroll position.

[2021-12-11 05:34] Davud44 commented on #106
can you share source code?

[2021-12-15 07:01] yamasite opened #128 "[DOC] To inspect the `localStream` object, type `localStream` instead of `stream`"
## Current doc

https://codelabs.developers.google.com/codelabs/webrtc-web#3

The `localStream` object passed to `getUserMedia()` is in global scope, so you can inspect it from the browser console: open the console, type

`stream`

and press **Return**. (To view the console in Chrome, press Ctrl-Shift-J, or Command-Option-J if you're on a Mac.)

## Suggested doc

The `localStream` object passed to

[2022-02-17 01:43] thegiantbeast commented on #119
Just an update on this issue, `createOffer` page on MDN was updated twice after this issue was created.
One to remove any reference to `offerToReceiveVideo` and `offerToReceiveAudio`.
And then another update to reintroduce them as deprecated options. But its missing the note section about `RTCRtpTransceiver`, so I've added a comment to see if it can be reintroduced https://github.com/mdn/content/i

[2022-04-12 21:45] lv2lrn4lf opened #129 "multi player with webrtc-web on mobile"
I'm trying to use webrtc for multi-player on mobile devices such as iOs and Android. It doesn't seem to work for iOS, on the computer end it said the state is connecting but doesn't connect. it works for desktop browsers to browsers, what could be the problem?

I'm using the examples that are providing for me with the video and chat combine and it work for desktop but not for mobile.

[2022-08-18 09:39] dinhtung249 opened #130 "How to make STUN or TURN working in Example 5"
As step 4 [[Real time communication with WebRTC](https://codelabs.developers.google.com/codelabs/webrtc-web/)](https://codelabs.developers.google.com/codelabs/webrtc-web/#4:~:text=The%20servers%20argument%20to%20RTCPeerConnection%20isn%27t%20used%20in%20this%20example.)
The servers argument to RTCPeerConnection isn't used in this example.

This is where you could specify STUN and TURN servers.
So

[2022-08-19 03:52] dinhtung249 commented on #123
did u solve your problem, can u share ?